### Arithmetic operators

```
1.Addition (+)
2.Subtraction (-)
3.Multiplication (*)
4.Division (/)
5.Modulus (%)
6.Floor division (//)
7.Power (**)
```

In [3]:
# Addition

a = 10
b = 5
print(a + b)

15

In [10]:
c = "Hari"
d = "priya"
print(c + d)

Haripriya

In [11]:
print("1"+"1")

11

In [1]:
print(10 + 100)

110

In [2]:
print( 10.5 + 1.5)

12.0

In [3]:
print("Hello" + " " + "world")

Hello world

In [4]:
# Subtraction

print(a - b)

5

In [4]:
print( 10 - 4)

6

In [5]:
print(10.5 - 4.5)

6.0

In [6]:
print("Apple" - "Mango")

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [6]:
# Multiplication

print(a * b)

50

In [7]:
print(20 * 40)

800

In [8]:
print(30.5 * 2)

61.0

In [9]:
print("Apple" * "Mango")

TypeError: can't multiply sequence by non-int of type 'str'

In [10]:
print("Hari" * 3)  # Replication

HariHariHari

In [12]:
"Hari" * 3

'HariHariHari'

In [13]:
"Hari" * "priya"

TypeError: can't multiply sequence by non-int of type 'str'

In [7]:
# Division - Will give Quotient(float) - gives you exact answer- Exact Accuracy

print(a / b)

2.0

In [11]:
print(10.5 / 4.5)

2.3333333333333335

In [5]:
print(35 / 8)

4.375

In [8]:
# floor division - The result is floored to the nearest smaler integer

print(a // b)

2

In [14]:
print(87 // 4)

21

In [9]:
x = 12
y = 5
print(x // y)

2

In [19]:
print(3//2)

1

In [14]:
# Modulus - This gives remainder
a = 100
b = 3
print(a % b)

1

In [15]:
print( 9 % 3)

0

In [16]:
print( 30 % 7)

2

In [15]:
# power

print(2**3)

8

In [16]:
print(5**5)

3125

In [17]:
print(10 ** 2)

100

In [23]:
num1 = 10
num2 = 7

print("-------------Addition-------------")
print(f"Addition of {num1} and {num2} is {num1 + num2}")
print()
print("-------------Subtraction-------------")
print(f"Subtraction of {num1} and {num2} is {num1 - num2}")
print()
print("-------------Multiplication-------------")
print(f"Product of {num1} and {num2} is {num1 * num2}")
print()
print("-------------Division-------------")
print(f"Division of {num1} and {num2} is {num1 / num2}")
print()
print("-------------Floor Division-------------")
print(f"Floor division of {num1} and {num2} is {num1 // num2}")
print()
print("-------------To the power-------------")
print(f"power of {num1} and {num2} is {num1 ** num2}")
print()
print("-------------Modulus-------------")
print(f"Modulus of {num1} and {num2} is {num1 % num2}")

-------------Addition-------------
Addition of 10 and 7 is 17

-------------Subtraction-------------
Subtraction of 10 and 7 is 3

-------------Multiplication-------------
Product of 10 and 7 is 70

-------------Division-------------
Division of 10 and 7 is 1.4285714285714286

-------------Floor Division-------------
Floor division of 10 and 7 is 1

-------------To the power-------------
power of 10 and 7 is 10000000

-------------Modulus-------------
Modulus of 10 and 7 is 3

### Comparison operator / relational operator

```
1.True if equal (==)
2.True if not equal (!=)
3.Less than (<)
4.Greater than (>)
5.Less than or equal to (<=)
6.Greater than or equal to (>=)
```

In [24]:
# True if equal (==)

a = 10
b = 10
print(a==b)

True

In [18]:
print(100 == 100)

True

In [42]:
s = 10
t = "10"
print(s == t)

False

In [25]:
print(10==20)

False

In [19]:
print(100 == 50)

False

In [20]:
print("Hari" == "Hari")

True

In [21]:
print("Hari" == "priya")

False

In [26]:
# True if not equal (!=)

a = 10
b = 20
print(a!=b)

True

In [27]:
print(10!=10)

False

In [22]:
print(100 != 50)

True

In [24]:
print(100 != 100)

False

In [25]:
print("Hari" != "priya")

True

In [28]:
# Less than (<)

a = 5
b = 10
print(a < b)

True

In [29]:
print(10 < 5)

False

In [26]:
print(100 < 50)

False

In [27]:
print("H" < "A")  # Ascii value of "H" is 72 and Ascii value of "A" is 65 ( 72 < 65) --> False

False

In [28]:
print("M" < "N") # M = 77 and N = 78 so true

True

In [30]:
# Greater than (<)

a = 100
b = 50
print(a > b)

True

In [29]:
print(100 > 50)

True

In [31]:
print(50 > 100)

False

In [30]:
print("H" > "A")

True

In [31]:
print("M" > "N")

False

In [32]:
# Less than or equal to (<=)

a = 4
b = 10

print(a <= b)

True

In [32]:
print(10 <= 10)

True

In [33]:
print(10 <= 4)

False

In [34]:
print(10 <= 10)

True

In [33]:
print("M" <= "M")

True

In [34]:
print("H" < "A")

False

In [35]:
# Greater than or equal to (>=)

a = 100
b = 50
print(a >= b)

True

In [36]:
print(100 >= 100)

True

In [37]:
print(50 >= 200)

False

In [35]:
print("H" >= "A")

True

In [41]:
x = 20
y = 30

print("Is both values of operands are equal? ",x == y)
print("Is both values of operands are not equal? ",x!=y)
print("Is the value of left operand is less than the value of right operands? ",x < y)
print("Is the value of left operand is greater than the value of right operand? ",x > y)
print("Is the value of left operand is less than or equal to right operand? ",x <= y)
print("Is the value of left operand is greater than or equal to right operand? ",x >= y)

Is both values of operands are equal?  False
Is both values of operands are not equal?  True
Is the value of left operand is less than the value of right operands?  True
Is the value of left operand is greater than the value of right operand?  False
Is the value of left operand is less than or equal to right operand?  True
Is the value of left operand is greater than or equal to right operand?  False

### Assignment operators

```
1. =
2. +=
3. -=
4. *=
5. /=
6. **=
7. //=
```

In [43]:
# += 

a = 5
a = a + 5
print(a)

10

In [44]:
a = 10
a += 5
print(a)

15

In [36]:
c = 100
c += 100
print(c)

200

In [45]:
# -=

b = 10
b = b - 5
print(b)

5

In [49]:
b = 10
b -= 5
print(b)

5

In [37]:
c = 100
c -= 50
print(c)

50

In [50]:
# *=

c = 5
c = c * 5
print(c)

25

In [38]:
b = 100
b *= 5
print(b)

500

In [51]:
c = 2
c *= 2
print(c)

4

In [52]:
# /=

d = 100
d = d / 5
print(d)

20.0

In [53]:
d = 50
d /= 10
print(d)

5.0

In [54]:
# = 

a = 10

In [39]:
# %=

a = 100
a %= 4
print(a)

0

In [56]:
b = 50
b %= 3
print(b)

2

In [57]:
# **=

a = 2
a **= 2
print(a)

4

In [41]:
d = 9
d **= 2
print(d)

81

In [58]:
# //=

a = 100
a //= 3
print(a)

33

In [42]:
d = 42 
d //= 2
print(d)

21

### Bitwise operator

```
1. Complement (~)
2. And (&)
3. Or (|)
4. Xor (^)
5. Left shift (<<)
6. Right shift (>>)
```

In [45]:
# Complement (~)

"""
0 --> 1
1 --> 0
"""

print(~12)

-13

In [1]:
print(~35)

-36

In [8]:
print(~9)

-10

In [9]:
print(~100)

-101

In [43]:
# AND operator (&)

"""
0 0 0
0 1 0
1 0 0 
1 1 1
"""

print(12 & 13)

12

In [11]:
print(8 & 8)

8

In [12]:
print(5 & 15)

5

In [44]:
# OR Operator (|)

"""
0 0 0
0 1 1
1 0 1
1 1 0
"""

print( 15 | 4)

15

In [14]:
print(9 | 5)

13

In [46]:
# XOR Operator (^)

"""
0 0 0
0 1 1
1 0 1
1 1 0
"""

print(15 ^ 4)

11

In [16]:
print(9 ^ 5)

12

In [47]:
# Left shift (<<)

"""
eg.10 << 2

10 - 0000 1010
left shift 2

consider like

1010 . 00
Ans: 10100.0
     101000
0 * 1 = 0
0 * 2 = 0
0 * 4 = 0
1 * 8 = 8
0 * 16 = 0
1 * 32 = 32

Total = 40

"""
print(10 << 2)
print(39 << 3)

40
312

In [27]:
print(14 << 2)

56

In [28]:
print(11 << 3)

88

In [2]:
print(10 << 2)

40

In [48]:
# Right shift (>>)

"""
eg.10 >> 2

10 - 1010
Right shift = 2

consider

1010.00
Ans = 101.000
      10.1000
      
Ans = 10

0 * 1 = 1
1 * 2 = 2
Total = 2

"""
print(10 >> 2)
print(11 >> 3)

2
1

In [30]:
print(15 >> 2)

3

In [31]:
print(16 >> 4)

1

In [3]:
print(10 >> 2)

2

In [4]:
print("The Bitwise AND operator is ",8 & 7)
print("The Bitwise OR operator is ",4 | 10)
print("The Bitwise NOT operator is ",~20)
print("The Bitwise XOR operator is ",15 ^ 3)
print("The Bitwise Left shift operator is ",9 << 3)
print("The Bitwise Right shift operator is ",9 >> 3)

The Bitwise AND operator is  0
The Bitwise OR operator is  14
The Bitwise NOT operator is  -21
The Bitwise XOR operator is  12
The Bitwise Left shift operator is  72
The Bitwise Right shift operator is  1

### Compound operators

```
Arithmetic assignment opoerator

1.+=
2.-=
3.*=
4./=
5.%=

Bitwise compound assignment operator

1.&=
2.|=
3.^=
4.<<=
5.>>=

Increment and Decrement operators

1.++
2.--  
```

In [11]:
# Arithmetic assignment opoerator

# +=
# -=
# *=
# /=
# %=

a = 10
a += 10
print(a)

a -= 10
print(a)

a *= 10
print(a)

a /= 10
print(a)

a %= 10
print(a)

20
10
100
10.0
0.0

In [22]:
# Bitwise compound assignment operator

# &=
# |=
# ^=
# <<=
# >>=

a = 10
b = 5
a &= 10
print(a)

a |= 10
print(a)

a ^= 10
print(a)

b <<= 1
print(b)

b >>= 2
print(b)

10
10
0
10
2

In [26]:
# Increment and Decrement operators

# ++
# --

### Logical operators

```
1.AND
2.OR
3.NOT
```

In [27]:
# AND
x = 5
y = 10
print(x and y)

10

In [6]:
x = 3
y = 5
print(x and y)

5

In [28]:
a = 0
b = 5
print(a and b)

0

In [32]:
c = 0
d = 0
print(c and d)

0

In [30]:
# OR 

x = 10
y = 0
print(x or y)

10

In [7]:
a = 2
b = 5
print(a or b)

2

In [33]:
a = 10
b = 2
print(a or b)

10

In [36]:
# NOT

not(12 and 3)

False

In [39]:
not 0

True

In [40]:
not 1

False

### Membership operators

```
1.in
2.not in
```

In [41]:
# in
a = "Haripriya"
"a" in a

True

In [51]:
a = "Haripriya"
"h" in a                 # python is case sensitive

False

In [52]:
# not in
x = "xyz"
"y" not in x

False

### Identity operators

```
1.is 
2.is not
```

In [53]:
# This operator works with based on memory location of values
# is

a = 5
b = 5
print(a is b)

True

In [54]:
# is not 

x = 5
y = 10
print(x is not y)

True