In [1]:
x = "Haripriya"     #Double quotes
print(type(x))

<class 'str'>

In [9]:
a = 'Xyz'     # Single quotes

In [12]:
num = "1234"
print(type(num))
num1 = 1234
print(type(num1))

<class 'str'>
<class 'int'>

In [14]:
type("xy#&=+!")

str

In [15]:
type('123&!9=')

str

In [16]:
my_name = """            
          Hello
          world
"""
print(type(my_name))   #triple quotes

<class 'str'>

In [18]:
"hello"*5                    # String replication

'hellohellohellohellohello'

In [19]:
"hello" + "world"    # string concatenation

'helloworld'

In [34]:
s = "you are good"
for i in s:
    print(i)

y
o
u

a
r
e

g
o
o
d

In [36]:
for i in range(0,len(s)):
    print(s[i])

y
o
u

a
r
e

g
o
o
d

In [1]:
str1 = 'Haripriya'
str2 = "Haripri"
str3 = """
        Hello,
        hey
"""

print(type(str1),type(str2),type(str3))

<class 'str'> <class 'str'> <class 'str'>

### Indexing in strings

In [4]:
var = "My first program is Hello world"

var[0]    #positive indexing(forward indexing) - starts with 0

'M'

In [5]:
var[2]

' '

In [6]:
var[3]

'f'

In [8]:
var[-1]   #Negative indexing(Backward indexing) - starts with -1

'd'

In [1]:
Name = "Hello world!"
print(Name[0])

H

In [2]:
Name[-1]

'!'

In [3]:
Name[6]

'w'

In [7]:
Name[-6]

'w'

In [18]:
Name[100]

IndexError: string index out of range

In [29]:
Name[len(Name)-1]         # to access last character,Name[12- 1] = "!"

'!'

### String slicing

In [8]:
number = "1234567890"


"""
1 2 3 4 5 6 7 8 9 0
0 1 2 3 4 5 6 7 8 9 - index
"""

In [11]:
number[0:5:1]                       # 5th index is excluded

'12345'

In [12]:
number[0:5]

'12345'

In [13]:
number[0:5:2]

'135'

In [14]:
number[-1:]

'0'

In [15]:
number[5:]

'67890'

In [16]:
letter = "Hello world!,My first program"

In [17]:
letter[0:5]

'Hello'

In [19]:
letter[0:100]

'Hello world!,My first program'

In [20]:
letter[-1:-4:1]      # if start and end are negative and jump is positive then empty string

''

In [21]:
letter[-1:-5:2]

''

In [22]:
letter[-1:-4:-1]

'mar'

In [24]:
letter[0:100:-1]    # if start and end are positive and jump is negative then empty string

''

In [25]:
letter[0:-5:-1]

''

In [26]:
letter[:8]  # by default,start is zero

'Hello wo'

In [28]:
 letter[::-1]   # reverse of a string

'margorp tsrif yM,!dlrow olleH'

### Strings are immutable
```
WE CANT CHANGE ANY VALUE IN STRING
```

In [30]:
str1 = "Haripriya"

str1[-1] = "p"

TypeError: 'str' object does not support item assignment

In [31]:
str1[0:3] = "Hariii"

TypeError: 'str' object does not support item assignment

### Delete a string

In [32]:
del str1

In [33]:
print(str1)

NameError: name 'str1' is not defined

### String functions

In [1]:
x = "Good morning"
x.capitalize()             # first letter will be changed to upper case

'Good morning'

In [2]:
x.title()         # each and every first letter of word will be changed to upper case

'Good Morning'

In [3]:
x.upper()     # converts string into upper case

'GOOD MORNING'

In [4]:
x.lower()     # converts string into lower case

'good morning'

In [5]:
x.replace("morning","evening")    # to replace any letter or substring with other

'Good evening'

In [9]:
x.find("G")   # find() used to find the index of the letter

0

In [10]:
x.find("ood")

1

In [11]:
x.find("xyz")  # if the given string is not in the string which we created,it return -1

-1

In [12]:
y = """
There are a few reasons why strings are immutable in Python. First, it makes the language more safe. 
If strings were mutable, it would be possible to accidentally change a string in a way that was unexpected. 
For example, if two different parts of a program were both trying to modify the same string, it could lead to errors.
"""
y.find("errors")

322

In [60]:
# index

x = "good morning"
x.index("mo")

5

In [62]:
x.index("z") # the difference between find() and index() is when the substring is not there index will give error but find() will give -1

ValueError: substring not found

In [20]:
# casefold() method returns a string where all the characters are in lower case
# casefold() is more effective than lower() in handling certain special characters and non-English alphabets

a = "Hello world hari Priya"
a.casefold()

'hello world hari priya'

In [14]:
a = "Hello world hari Priya#*^"
a.casefold()

'hello world hari priya#*^'

In [17]:
b = "&^%hello"
print(b.lower())
print(b.casefold())

&^%hello
&^%hello

In [21]:
"""
When to Use Each:

casefold(): Use for case-insensitive comparisons or matching, especially with international text or when precise matching is crucial.
lower(): Use for simple lowercase conversion when language-specific nuances aren't critical, such as basic text formatting.
"""
text1 = "This is a MiXed cAsE string with ß."
text1.lower()

'this is a mixed case string with ß.'

In [22]:
text1.casefold()

'this is a mixed case string with ss.'

In [1]:
x = "ßabc"
print(x.casefold())

ssabc

In [26]:
# center() method will center align the string, using a specified character (space is the default) as the fill character.

x

'Good morning'

In [27]:
x.center(20,"*")

'****Good morning****'

In [28]:
a = "Hello world hari Priya"

a.center(40,"-")

'---------Hello world hari Priya---------'

In [55]:
Wc = "WELCOME EVERYONE"
print(Wc.center(100))

                                          WELCOME EVERYONE

In [56]:
Wc.rjust(25,"*")

'*********WELCOME EVERYONE'

In [57]:
Wc.ljust(25,"*")

'WELCOME EVERYONE*********'

In [58]:
Wc.rjust(50)

'                                  WELCOME EVERYONE'

In [29]:
# count() method returns the number of elements with the specified value

a.count("h")

1

In [30]:
a.count("o")

2

In [31]:
a.count("hari")

1

In [35]:
# format 
"""
The format() method formats the specified value(s) and insert them inside the string's placeholder. 
The placeholder is defined using curly brackets: {}. 
"""

txt = "hello {word}"
print(txt.format(word = "world!"))

hello world!

In [34]:
name = "haripriya"
age = 21
print("hello!,my name is {} and my age is {}".format(name,age))

hello!,my name is haripriya and my age is 21

In [37]:
Name = "Haripriya"
Age = 21
print(f"My name is {Name} and my age is {Age}")

My name is Haripriya and my age is 21

In [53]:
item1 =55
item2 = 100
item3 = 40

print("The cost of item1,item2 and item3 is {},{} and {} respectively".format(item1,item2,item3))

The cost of item1,item2 and item3 is 55,100 and 40 respectively

In [54]:
item1 =55
item2 = 100
item3 = 40

print("The cost of item1,item2 and item3 is {1},{2} and {0} respectively".format(item1,item2,item3))

The cost of item1,item2 and item3 is 100,40 and 55 respectively

In [38]:
# Strip - to remove space(space is there by default)

x = "    Hello     "
print(x.strip())

Hello

In [39]:
# rstrip - to remove space from right side

x.rstrip()

'    Hello'

In [40]:
# lstrip = to remove space from left side

x.lstrip()

'Hello     '

In [41]:
y = "***Haripriya###"

In [42]:
y.rstrip("#")

'***Haripriya'

In [43]:
y.rstrip("*")

'***Haripriya###'

In [44]:
y.lstrip("*")

'Haripriya###'

In [45]:
# Startswith and endswith

Name = "hello i am student"
Name.startswith("h")

True

In [46]:
Name.startswith("z")

False

In [47]:
Name.endswith("t")

True

In [48]:
Name.endswith("y")

False

In [49]:
# split() - Split String into substrings

numbers = "one two three four five six seven eight nine ten zero"
numbers.split()

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten',
 'zero']

In [2]:
numbers = "one two three four five six seven eight nine ten zero"
numbers.split("e")

['on',
 ' two thr',
 '',
 ' four fiv',
 ' six s',
 'v',
 'n ',
 'ight nin',
 ' t',
 'n z',
 'ro']

In [51]:
numbers = "one*two*three*four*five*six*seven*eight*nine*ten*zero"
numbers.split("*")

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten',
 'zero']

In [63]:
# isalnum - if the string contains only letters or numbers

a = "122345"
print(a.isalnum())

True

In [65]:
a = "ggjdh"
print(a.isalnum())

True

In [66]:
a = "123abc"
print(a.isalnum())

True

In [67]:
a = "123abc#"
print(a.isalnum())

False

In [68]:
# isalpha - only letter

a = "abcAgf"
print(a.isalpha())

True

In [69]:
a = "123abc"
print(a.isalpha())

False

In [70]:
# isnumeric - only numbers

a = "123356"
print(a.isnumeric())

True

In [72]:
# isupper() - check if the all letters are in upper case

a = "hariPirYa"
print(a.isupper())

False

In [73]:
a = "HARIPRIYA"
print(a.isupper())

True

In [74]:
# islower() - checks if all the letters are in lower

a = "haripriya"
print(a.islower())

True

In [75]:
a = "Haripriya"
print(a.islower())

False

In [76]:
# rfind() - to find the last occurance of the specified value

a = "Haripriya"

"""
H a r i p r i y a
0 1 2 3 4 5 6 7 8

"""
print(a.rfind("a"))

8

In [77]:
print(a.rfind("i"))

6

In [78]:
# rindex() - to find the last occurance index of particular character

print(a.rindex("a"))

8

In [79]:
print(a.rindex("z"))

ValueError: substring not found

In [6]:
# join() - Python join() is an inbuilt string function in Python used to join elements of the sequence separated by a string separator
s = "Haripriya"
" ".join(s)

'H a r i p r i y a'

In [8]:
"#".join(s)

'H#a#r#i#p#r#i#y#a'

In [10]:
h = "Sathish kumar"
".".join(h)

'S.a.t.h.i.s.h. .k.u.m.a.r'

In [3]:
# zfill -  adds zeros (0) at the beginning of the string, until it reaches the specified length
x = "abc123"

print(str(x).zfill(10))

0000abc123

In [3]:
a = "hari"
print(a.zfill(10))

000000hari

### Escape characters

In [82]:
# Using double quotes in the string is not allowed.
mystr = "My favourite cartoon is "heidi""

SyntaxError: invalid syntax (3677107424.py, line 2)

In [84]:
mystr = "My favourite cartoon is 'Heidi'"   # we can use single quotes inside
print(mystr)

My favourite cartoon is 'Heidi'

In [85]:
mystr = 'My favorite cartoon is "Heidi"'
print(mystr)

My favorite cartoon is "Heidi"

In [88]:
# Using escape character to allow illegal characters
# to double quotes itself

mystr = "My favorite cartoon is \"Heidi\""
print(mystr)

My favorite cartoon is "Heidi"

In [90]:
# new line escape sequence

mystr = "Hello\nMy name is 'Haripriya'"
print(mystr)

Hello
My name is 'Haripriya'

In [91]:
#tab escape sequence

mystr = "Hello\tMy name is 'Haripriya'"
print(mystr)

Hello	My name is 'Haripriya'

In [94]:
mystr1 = "My favourite series is 'Stranger things'"
print(mystr1)
mystr2 = 'My favourite series is "Stranger things"'
print(mystr2)
mystr3 = "My favourite series is \"Stranger things\""
print(mystr3)

My favourite series is 'Stranger things'
My favourite series is "Stranger things"
My favourite series is "Stranger things"

###  Udemy exercise

#### Exercise 30
```
The following text is given:

text = 'python is a popular programming language.'

Use the appropriate method to replace the first letter of the text with uppercase. Print the result to the console.

Expected result:
Python is a popular programming language.
```

In [95]:
text = 'python is a popular programming language.'
print(text.capitalize())

Python is a popular programming language.

#### Exercise 31
```
The following text is given:
text = 'python is a popular programming language.'

Using the appropriate method count the number of occurrences of the letter 'p' and print the result to the console as shown below.

Expected result:
Number of occurrences: 4
```

In [97]:
text = 'python is a popular programming language.'
print(f"Number of occurrences: {text.count('p')}")

Number of occurrences: 4

In [98]:
text = 'python is a popular programming language.'
count = text.count("p")
print(f"Number of occurences: {count}")

Number of occurences: 4

#### Exercise 32
```
The following codes are given:

code1 = 'FVNISJND-XX-2020'
code2 = 'FVNISJND-XY-2019'

Using the appropriate method check if the codes end in '2020'. Print the result to the console as shown below.

Expected result:
code1: True
code2: False
```

In [99]:
code1 = 'FVNISJND-XX-2020'
code2 = 'FVNISJND-XY-2019'
print(f"code1: {code1.endswith('2020')}")
print(f"code2: {code2.endswith('2020')}")

code1: True
code2: False

#### Exercise 33
```
The following paths are given:

path1 = 'youtube.com/watch?v=5EhRztVxums'
path2 = 'google.com/search?q=car'

Using the appropriate method check if the paths refer to YouTube (e.g. start with 'youtube'). Print the result to the console as shown below.

Expected result:
path1: True
path2: False
```

In [100]:
path1 = 'youtube.com/watch?v=5EhRztVxums'
path2 = 'google.com/search?q=car'

print(f"path1: {path1.startswith('youtube')}")
print(f"path2: {path2.startswith('youtube')}")

path1: True
path2: False

#### Exercise 34
```
The following paths are given:

path1 = (
    "https://e-smartdata.teachable.com/p/"
    "sciezka-data-scientist-machine-learning-engineer"
)
path2 = (
    "https://e-smartdata.teachable.com/p/"
    "sciezka-data-scientist-deep-learning-engineer"
)
path3 = (
    "https://e-smartdata.teachable.com/p/"
    "sciezka-bi-analyst-data-analyst"
)

Using the appropriate method, find the word 'scientist' in the given paths, returning the index for the first letter of the found word. If the word is not in the path, the method should return -1. Print the result to the console as shown below.

Expected result:
path1: 49
path2: 49
path3: -1
```

In [102]:
path1 = (
    "https://e-smartdata.teachable.com/p/"
    "sciezka-data-scientist-machine-learning-engineer"
)
path2 = (
    "https://e-smartdata.teachable.com/p/"
    "sciezka-data-scientist-deep-learning-engineer"
)
path3 = (
    "https://e-smartdata.teachable.com/p/"
    "sciezka-bi-analyst-data-analyst"
)

print(f"path1: {path1.find('scientist')}")
print(f"path2: {path2.find('scientist')}")
print(f"path3: {path3.find('scientist')}")

path1: 49
path2: 49
path3: -1

In [103]:
# if we use index function,we get error
path1 = (
    "https://e-smartdata.teachable.com/p/"
    "sciezka-data-scientist-machine-learning-engineer"
)
path2 = (
    "https://e-smartdata.teachable.com/p/"
    "sciezka-data-scientist-deep-learning-engineer"
)
path3 = (
    "https://e-smartdata.teachable.com/p/"
    "sciezka-bi-analyst-data-analyst"
)

print(f"path1: {path1.index('scientist')}")
print(f"path2: {path2.index('scientist')}")
print(f"path3: {path3.index('scientist')}")

path1: 49
path2: 49

ValueError: substring not found

#### Exercise 35
```
The following codes are given:

code1 = 'FVNISJND-20'
code2 = 'FVNISJND20'

Using the appropriate method, check whether the codes consist only of alphanumeric characters (numbers + letters). Print the result to the console as shown below.

Expected result:
code1: False
code2: True
```

In [105]:
code1 = 'FVNISJND-20'
code2 = 'FVNISJND20'

print(f"code1: {code1.isalnum()}")
print(f"code2: {code2.isalnum()}")

code1: False
code2: True

#### Exercise 36
```
The following text is given:

text = 'Google Colab'

Using the appropriate method convert all letters to lowercase. Print the result to the console.

Expected result:
google colab
```

In [106]:
text = 'Google Colab'
print(text.lower())

google colab

In [108]:
text = 'Google Colab'
print(text.casefold())    # casefold() is considered to be a advanced version of lower()

google colab

#### Exercise 37
```
The following text is given:

text = 'Google Colab'

Using the appropriate method convert all letters to uppercase. Print the result to the console.

Expected result:
GOOGLE COLAB
```

In [109]:
text = 'Google Colab'
print(text.upper())

GOOGLE COLAB

#### Exercise 38
```
The following text is given:

text = '  Google Colab   '

Using the appropriate method remove whitespace characters around the text. Print the result to the console.

Expected result:
Google Colab
```

In [110]:
text = '  Google Colab   '
print(text.strip())

Google Colab

#### Exercise 39
```
The following code is given:

code = 'FVNISJND-XX'

Using the appropriate method replace the dash with a space. Print the result to the console.

Expected result:
FVNISJND XX
```

In [112]:
code = 'FVNISJND-XX'
print(code.replace("-"," "))

FVNISJND XX

#### Exercise 40
```
The following text is given:

text = '340-23-245-235'

Using the appropriate method remove all dashes from the text. Print the result to the console.

Expected result:
34023245235
```

In [114]:
text = '340-23-245-235'
print(text.replace("-",""))

34023245235

#### Exercise 41
```
The following text is given:

text = 'Open,High,Low,Close'

Using the appropriate method split the text by comma. Print the result as a list to the console as shown below.

Expected result:
['Open', 'High', 'Low', 'Close']
```

In [115]:
text = 'Open,High,Low,Close'

print(text.split(","))

['Open', 'High', 'Low', 'Close']

#### Exercise 42
```
The following text is given:

text = """Python is a general-purpose language.
Python is popular."""

Using the appropriate method, split the text into sentences. Print the result as a list to the console.

Expected result:
['Python is a general-purpose language.', 'Python is popular.']
```

In [120]:
text = """Python is a general-purpose language.
Python is popular."""
print(text.split("\n"))

['Python is a general-purpose language.', 'Python is popular.']

In [121]:
text = """Python is a general-purpose language.
Python is popular."""
print(text.splitlines())

['Python is a general-purpose language.', 'Python is popular.']

#### Exercise 43
```
The following variable is given:

num = 34

Using the appropriate method for an object of type str, print the variable num preceded by four zeros to the console as shown below.

Expected result:
000034
```

In [127]:
num = 34
print(str(num).zfill(6)) #The zfill() method adds zeros (0) at the beginning of the string,until it reaches the specified length

000034

#### Exercise 44
```
From the given url:

url = (
    "https://e-smartdata.teachable.com/p/"
    "sciezka-data-scientist-machine-learning-engineer"
)

extract the slug after the last character '/'. Then replace all dashes with spaces and print the result to the console as shown below.

Expected result:
sciezka data scientist machine learning engineer
```

In [133]:
url = (
    "https://e-smartdata.teachable.com/p/"
    "sciezka-data-scientist-machine-learning-engineer"
)
splitted = url.split("/")
last_word = splitted[-1]
print(last_word.replace("-"," "))

sciezka data scientist machine learning engineer

In [134]:
url = (
    "https://e-smartdata.teachable.com/p/"
    "sciezka-data-scientist-machine-learning-engineer"
)
name = url.split('/')[-1]
name = name.replace('-', ' ')
print(name)

sciezka data scientist machine learning engineer

### Udemy slicing

#### Exercise 23
```
From the given file name:

filename = 'view.jpg'

extract extension and print it to the console.

Expected result:
jpg
```

In [1]:
filename = 'view.jpg'
print(filename[5:])

jpg

In [5]:
filename = 'view.jpg'
print(filename[-3::1])

jpg

#### Exercise 24
```
From the following text:

string = 'PKV-89415-PLN'

extract the code containing the first three and last three characters. Print the result to the console.

Expected result:
PKVPLN
```

In [9]:
string = 'PKV-89415-PLN'

first_three = string[:3]
last_three = string[-3:]
print(first_three + last_three)

PKVPLN

In [10]:
string = 'PKV-89415-PLN'
print(string[0:3] + string[-3:])

PKVPLN

#### Exercise 25
```
From the following text:

string = '1 0 0 1 0 1'

remove spaces using slicing. Then convert the result to decimal notation and print to the console as shown below.

Expected result:

Number found: 37
```

In [18]:
string = '1 0 0 1 0 1'
binary = string[::2]

decimal = int(binary,2)
print(f"Number found: {decimal}")

Number found: 37

#### Exercise 26
```
Using the slicing, reverse the order of the characters in the following text:

text = 'Python Course'

Print the result to the console as shown below.

Expected result:
esruoC nohtyP
```

In [19]:
text = 'Python Course'

print(text[::-1])

esruoC nohtyP