In [1]:
fruits = ["apple","mango","orange"]
print(type(fruits))

<class 'list'>

In [97]:
list1 = [10,20.5,"Hari",4+5j,False]

In [2]:
l = [1,1.5,"Haripriya",3+4j,True]     # list can store any type of data
print(type(l))

<class 'list'>

In [3]:
len(l)   # to find the lenght of the list

5

In [4]:
list1 = [10,20,30,40,50]  # integer
print("Integer: ",type(list1))

list2 = [1.0,1.5,2.0,2.5,3.0] # float
print("Float: ",type(list2))

list3 = ["Hello","Hey","Hi"] # strings
print("Strings: ",type(list3))

list4 = [3+4j,5+9j]
print("Complex number: ",type(list4))

list5 = [True,False]  # Boolean
print("Boolean: ",type(list5))

list6 = [5,10,15,[20,40,"Kite"],True,3.14]   # Nested list
print("Nested list: ",type(list6))

Integer:  <class 'list'>
Float:  <class 'list'>
Strings:  <class 'list'>
Complex number:  <class 'list'>
Boolean:  <class 'list'>
Nested list:  <class 'list'>

In [5]:
days = ['monday','tuesday','wednesday','thursday','friday','saturday','sunday']
print(days)

['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']

In [60]:
# list membership
days = ['monday','tuesday','wednesday','thursday','friday','saturday','sunday']
"monday" in days

True

In [61]:
days = ['monday','tuesday','wednesday','thursday','friday','saturday','sunday']
"holiday" in days

False

In [16]:
dif_data = [10,20,30,(100,200,300),[1000,2000,3000]]     # can also have tuple

In [22]:
# Concatenation

l1 = [1,2,3,4,5]
l2 = [6,7,8,9,10]
print(l1 + l2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
x1 = [10,20,30,40]
x2 = "Hari"
print(x1 + x2)

TypeError: can only concatenate list (not "str") to list

In [24]:
# Repetition or replication

l1 = [1,2,3,4,5]
print(l1 * 3)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [40]:
days = ['monday','tuesday','wednesday','thursday','friday','saturday','sunday']
for i in days:
    print(i)

monday
tuesday
wednesday
thursday
friday
saturday
sunday

In [42]:
days = ['monday','tuesday','wednesday','thursday','friday','saturday','sunday']
for j in range(0,len(days)):
    print(j,days[j])

0 monday
1 tuesday
2 wednesday
3 thursday
4 friday
5 saturday
6 sunday

In [43]:
days = ['monday','tuesday','wednesday','thursday','friday','saturday','sunday']
for k in range(1,len(days),2):
    print(k,days[k])

1 tuesday
3 thursday
5 saturday

In [99]:
# basic methods
# len()

list2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(len(list2))
days = ['monday','tuesday','wednesday','thursday','friday','saturday','sunday']
print(len(days))

10
7

In [100]:
# max()

list2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(max(list2))
days = ['monday','tuesday','wednesday','thursday','friday','saturday','sunday']  # based on ASCII Value
print(max(days))

10
wednesday

In [101]:
# min()

list2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(min(list2))
days = ['monday','tuesday','wednesday','thursday','friday','saturday','sunday']
print(min(days))

1
friday

In [103]:
list3 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10,"Hari"]
print(max(list3))          # cant compare with different datatypes

TypeError: '>' not supported between instances of 'str' and 'int'

### Why list is ordered?

In [18]:
l1= [10,100,1000,10000]
l2 = [100,1000,10,10000]   # since both list has same elements but it still gives false so list will be ordered
l1 == l2

False

In [19]:
x = [10,100,1000,10000]
y = [10,100,1000,10000]
x == y

True

### Indexing

In [6]:
days = ['monday','tuesday','wednesday','thursday','friday','saturday','sunday']
print(days[1])

tuesday

In [7]:
print(days[len(days)-1])

sunday

In [8]:
print(days[-1])

sunday

In [9]:
print(days[300])    # it doesn't have any value at 300th position

IndexError: list index out of range

In [10]:
print(days[-300])

IndexError: list index out of range

In [11]:
print(days[0],days[-1])

monday sunday

In [12]:
list6 = [5,10,15,[20,40,"Kite"],True,3.14]  # for nested list

"""
          0   1   2
[5,10,15,[20,40,"Kite"],True,3.14]
 0  1  2       3         4    5
"""

print(list6[3][1])

40

In [13]:
print(list6[3][0])

20

In [15]:
print(list6[3][2])

Kite

### Slicing

In [20]:
days = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']
print()

['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']

In [21]:
print(days[0:4])

['monday', 'tuesday', 'wednesday', 'thursday']

In [25]:
print(days[::-1])

['sunday', 'saturday', 'friday', 'thursday', 'wednesday', 'tuesday', 'monday']

In [26]:
print(days[0:])

['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']

In [27]:
print(days[0:300])  # it will print the whole list

['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']

In [28]:
print(days[2:6])

['wednesday', 'thursday', 'friday', 'saturday']

In [30]:
print(days[-1:-5:1])

[]

In [31]:
print(days[-1:-5:-1])

['sunday', 'saturday', 'friday', 'thursday']

In [34]:
print(days[-3:-1])

['friday', 'saturday']

In [32]:
print(days[0:5:2])

['monday', 'wednesday', 'friday']

In [33]:
print(days[::])   # by default days[0:len(days):1]

['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']

In [35]:
numbers = ["zero","one","two","three","four","five","six","seven","eight","nine","ten"]
print(numbers[0:5])

['zero', 'one', 'two', 'three', 'four']

In [39]:
print(numbers[-1:])

['ten']

### List is mutable

In [44]:
nums = [50,100,200,200,250]
nums[2] = 150
print(nums)                        # We can change values in list so lists are mutable

[50, 100, 150, 200, 250]

In [45]:
names = ["Hari","priya","Haripriya"]
names[0] = "Harini"
print(names)

['Harini', 'priya', 'Haripriya']

In [46]:
list1 = [10,20,30,[100,200,400],"Hello"]
list1[3][2] = 300
print(list1)

[10, 20, 30, [100, 200, 300], 'Hello']

### List inbuild methods

In [1]:
# The append() method adds an element to the end of the list.

days = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']

In [2]:
days.append("Holiday")
print(days)

['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday', 'Holiday']

In [4]:
l = [10,20,30,40,50]
l1 = ["Hari","priya"]
l.append(l1)
print(l)

[10, 20, 30, 40, 50, ['Hari', 'priya']]

In [24]:
l1 = ["Apple","Mango","Banana"]
l2 = [10,100,1000,10000,100000]
l1.append(l2)
print(l1)

['Apple', 'Mango', 'Banana', [10, 100, 1000, 10000, 100000]]

In [1]:
# The extend() method adds the specified list elements (or any iterable) to the end of the current list.

l1 = ["Apple","Mango","Banana"]
l2 = [10,100,1000,10000,100000]
l1.extend(l2)
print(l1)

['Apple', 'Mango', 'Banana', 10, 100, 1000, 10000, 100000]

In [25]:
"""
DIFFERENCE BETWEEN append() and extend()
append() takes a single element and adds it as is, 
while extend() takes an iterable (like a list) and appends its elements individually to the list.
"""

list1 = [1,2,3,4,5]
list2 = [6,7,8,9,10]
list1.append(list2)
print("Append: ",list1)

list1 = [1,2,3,4,5]
list2 = [6,7,8,9,10]
list1.extend(list2)
print("Extend: ",list1)

Append:  [1, 2, 3, 4, 5, [6, 7, 8, 9, 10]]
Extend:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
# The pop() method removes the element at the specified position.

days.pop()
print(days)

['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']

In [7]:
days.pop(2)
print(days)

['monday', 'tuesday', 'thursday', 'friday', 'saturday', 'sunday']

In [8]:
days.pop(100)

IndexError: pop index out of range

In [22]:
l1 = [1,1,1,2,2,5,10,2,2,100]
l1.pop(1)
print(l1)

[1, 1, 2, 2, 5, 10, 2, 2, 100]

In [18]:
# remove() methods helps to remove the first occurance of specified value
# difference between remove() and pop() is pop() deletes element by specified position(index) and remove() deletes by specified value
# Difference Between pop and remove in Python and the del Keyword. The pop() function removes the last element or the element based on the index given. 
#remove() function removes the first occurrence of the specified element.

day = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday', 'Holiday']
day.remove("Holiday")

In [20]:
l1 = [1,1,1,2,2,5,10,2,2,100]
l1.remove(1)
print(l1)

[1, 1, 2, 2, 5, 10, 2, 2, 100]

In [27]:
# Using del also we can remove element

day = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday', 'Holiday']
del day[-1]
print(day)

['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']

In [9]:
# The insert() method inserts the specified value at the specified position.

days.insert(2,"wednesday")
print(days)

['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']

In [10]:
Letters = ["A","B","C","E","F"]
Letters.insert(3,"D")
print(Letters)

['A', 'B', 'C', 'D', 'E', 'F']

In [12]:
# Python List reverse() is an inbuilt method in the Python programming language that reverses objects of the List in place i.e. it doesn’t use any extra space but it just modifies the original list.

days = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']
days.reverse()
print(days)

['sunday', 'saturday', 'friday', 'thursday', 'wednesday', 'tuesday', 'monday']

In [13]:
Letters = ["A","B","C","E","F"]
Letters.reverse()
print(Letters)

['F', 'E', 'C', 'B', 'A']

In [14]:
Letters[::-1]

['A', 'B', 'C', 'E', 'F']

In [15]:
# The count() method in Python lists returns the number of times an element appears in the list

l1 = [1,1,1,2,2,5,10,2,2,100]
l1.count(2)

4

In [16]:
Letters = ["A","B","C","E","F","A","b","b"]
Letters.count("B")

1

In [29]:
# clear() Delete all items in the list

l3 = [10,20,30,40,50,60,70,80,90,100]
l3.clear()
print(l3)

[]

In [30]:
# Python list sort() method sorts the elements of a list. 
# It sorts in ascending order by default but can also sort values in descending order or in a custom manner using its parameters.


l1 = [10,5,3,8,2,9]    # AScending
l1.sort()
print(l1)

[2, 3, 5, 8, 9, 10]

In [31]:
l1 = [10,5,3,8,2,9]
l1.sort(reverse = True)   # descending
print(l1)

[10, 9, 8, 5, 3, 2]

In [32]:
# index() returns the index or position of specified value
l1 = [10,5,3,8,2,9]
l1.index(8)

3

In [42]:
"""
The copy() method in Python is used to create a shallow copy of a list. 
This means that the new list will contain the same elements as the original list, 
but the two lists will be independent of each other. 
Any changes made to the new list will not be reflected in the original list, and vice versa.
"""
mylist1 = [1,2,3,4,5]
mylist = mylist1
id(mylist),id(mylist1)

(1863769309248, 1863769309248)

In [43]:
mylist2 = mylist1.copy()

In [44]:
id(mylist2)

1863768993600

In [45]:
print(mylist2)

[1, 2, 3, 4, 5]

In [46]:
print(mylist1)

[1, 2, 3, 4, 5]

In [47]:
mylist1[0] = 10

In [48]:
mylist

[10, 2, 3, 4, 5]

In [49]:
mylist1

[10, 2, 3, 4, 5]

In [50]:
mylist2

[1, 2, 3, 4, 5]

In [51]:
# example

month = ["jan","feb","mar","apr","may","june","july"]

month1 = month.copy()
print(month1)

['jan', 'feb', 'mar', 'apr', 'may', 'june', 'july']

In [52]:
id(month),id(month1)     # both are same but their memory address is differnet...both works independently

(1863769312000, 1863769347328)

In [53]:
month1[0] = "sep"

In [54]:
month1

['sep', 'feb', 'mar', 'apr', 'may', 'june', 'july']

In [55]:
month    # it is same

['jan', 'feb', 'mar', 'apr', 'may', 'june', 'july']

### All / Any
```
The all() method returns:
True - If all elements in a list are true
False - If any element in a list is false
The any() function returns True if any element in the list is True. If not, any() returns False
```

In [56]:
x = [1,2,3,0,True]      # 0 refers to false so it gives false
all(x)

False

In [57]:
y = [1,2,3,4,5]      # there is no false value
all(y)

True

In [58]:
x = [1,2,3,0,True]   # atleast one value should be true
any(x)

True

In [59]:
y = [0,0,0,0,False]
any(y)

False

### Udemy exercises

#### Exercise 57
```
To the given list:

cities = ['Los Angeles', 'New York', 'Chicago']

append the city: 'Houston' and print the list to the console.

Expected result:
['Los Angeles', 'New York', 'Chicago', 'Houston']
```

In [62]:
cities = ['Los Angeles', 'New York', 'Chicago']
cities.append("Houston")
print(cities)

['Los Angeles', 'New York', 'Chicago', 'Houston']

#### Exercise 58
```
The following list is given:

idx = ['001', '002', '001', '003', '001']

Using the appropriate method count the occurrences of '001'. Print the result to the console as shown below.

Expected result:
Number of occurrences: 3
```

In [65]:
idx = ['001', '002', '001', '003', '001']
print("Number of occurrences:",idx.count('001'))

Number of occurrences: 3

#### Exercise 59
```
The following text is given:

text = 'Python programming'

Standardize the text (replace uppercase letters with lowercase). Then create a list of unique characters in the text. Remove the space from this list and sort from a to z. After all print the list to the console.

Tip: You can use a set to generate unique characters.

Expected result:
['a', 'g', 'h', 'i', 'm', 'n', 'o', 'p', 'r', 't', 'y']
```

In [11]:
text = 'Python programming'
x = list(set(text.lower()))
x.remove(" ")
x.sort()
print(x)

['a', 'g', 'h', 'i', 'm', 'n', 'o', 'p', 'r', 't', 'y']

In [76]:
text = 'Python programming'
text1 = list(set(text.lower()))
text1.remove(" ")
text1.sort()
print(text1)

['a', 'g', 'h', 'i', 'm', 'n', 'o', 'p', 'r', 't', 'y']

#### Exercise 60
```
The following list is given:

filenames = ['view.jpg', 'bear.jpg', 'ball.png']

Add the file 'phone.jpg' to this list at the beginning. Then delete the file 'ball.png'. In response, print the filenames list to the console.

Expected result:
['phone.jpg', 'view.jpg', 'bear.jpg']
```

In [80]:
filenames = ['view.jpg', 'bear.jpg', 'ball.png']
filenames.insert(0,'phone.jpg')
filenames.pop()
print(filenames)

['phone.jpg', 'view.jpg', 'bear.jpg']

In [81]:
filenames = ['view.jpg', 'bear.jpg', 'ball.png']
filenames.insert(0,'phone.jpg')
filenames.remove("ball.png")
print(filenames)

['phone.jpg', 'view.jpg', 'bear.jpg']

#### Exercise 61
```
The following list represents order ids for a given day:
day1 = ['3984', '9042', '4829', '2380']

Using the appropriate method, extend this list to the next day:

day2 = ['4231', '5234', '1345', '2455']

Print the result to the console.

Expected result:
['3984', '9042', '4829', '2380', '4231', '5234', '1345', '2455']
```

In [82]:
day1 = ['3984', '9042', '4829', '2380']
day2 = ['4231', '5234', '1345', '2455']
day1.extend(day2)
print(day1)

['3984', '9042', '4829', '2380', '4231', '5234', '1345', '2455']

#### Exercise 62
```
The following tuple is given:

techs = ('python', 'java', 'sql', 'aws')

Sort this tuple from a to z and print it to the console.

Tip: Tuples are immutable. You have to create a new one.

Expected result:
('aws', 'java', 'python', 'sql')
```

In [86]:
techs = ('python', 'java', 'sql', 'aws')
list1 = list(techs)
list1.sort()
print(tuple(list1))

('aws', 'java', 'python', 'sql')

In [88]:
techs = ('python', 'java', 'sql', 'aws')
tech = tuple(sorted(techs))
print(tech)

('aws', 'java', 'python', 'sql')

#### Exercise 63
```
The following list is given:

hashtags = ['summer', 'time', 'vibes']

Using the appropriate method, combine the elements of the list with the '#' character. Also add this sign to the beginning of the text and print the result to the console as shown below.

Expected result:
'#summer#time#vibes'
```

In [92]:
hashtags = ['summer', 'time', 'vibes']
"#"+hashtags[0]+"#"+ hashtags[1] + "#"+hashtags[2]

'#summer#time#vibes'

In [95]:
hashtags = ['summer', 'time', 'vibes']
print('#'.join(hashtags))

summer#time#vibes

In [96]:
print("#"+"#".join(hashtags))

#summer#time#vibes