In [1]:
T = (1,2,3,4,5)
print(type(T))

<class 'tuple'>

In [2]:
t = (1,1.5,"Hari",4+8j,True)
print(type(t))

<class 'tuple'>

In [4]:
T1 = ([1,2,3,4],{1:10,2:20})   # Can store list and dictionary also

In [6]:
T2 = (10,20,30,("Haripriya",4+5j,True),100,10.5)  # nested tuple
print(type(T2))

<class 'tuple'>

In [7]:
T2 = (10,20,30,("Haripriya",4+5j,True),100,10.5)
print(len(T2))

6

In [13]:
t = (10,20,30,40,50)
min(t)

10

In [14]:
t = (10,20,30,40,50)
max(t)

50

In [11]:
# Type conversion between tuple to list and list to tuple is possible

t = (10,20,30,40,50)
l = list(t)
print(t,type(t))
print(l,type(l))

(10, 20, 30, 40, 50) <class 'tuple'>
[10, 20, 30, 40, 50] <class 'list'>

In [12]:
l1 = [10,20,30,40,50]
print(l1,type(l1))
t1 = tuple(l1)
print(t1,type(t1))

[10, 20, 30, 40, 50] <class 'list'>
(10, 20, 30, 40, 50) <class 'tuple'>

In [50]:
S = "HARIPRIYA"
tuple(S)

('H', 'A', 'R', 'I', 'P', 'R', 'I', 'Y', 'A')

In [34]:
# concatenation
a = (1,2,3,4,5)
b = (6,7,8,9,10)
a + b

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [37]:
l = [1,2,3]
t = (2,4,6)
print(l+t)

TypeError: can only concatenate list (not "tuple") to list

In [35]:
# replication

a = (1,2,3,4,5)
a * 2

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [38]:
# membership

a = (1,2,3,4,5)
print(1 in a)
print(2 in a)
print(10 in a)

True
True
False

In [39]:
x = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
for i in x:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [41]:
x = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
for i in range(0,len(x)):
    print(i,x[i])

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [75]:
"""
Enumerate - It's a built-in function that allows you to iterate over an iterable (like a list, tuple, or string) and 
simultaneously access both the index (position) and the value of each element.
It's particularly useful when you need to keep track of the iteration count or reference elements 
based on their index within a loop.

"""

tup = ("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday")

for i in enumerate(tup):
    print(i)

(0, 'Sunday')
(1, 'Monday')
(2, 'Tuesday')
(3, 'Wednesday')
(4, 'Thursday')
(5, 'Friday')
(6, 'Saturday')

In [77]:
tup = ("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday")

for i in enumerate(tup,2):
    print(i)

(2, 'Sunday')
(3, 'Monday')
(4, 'Tuesday')
(5, 'Wednesday')
(6, 'Thursday')
(7, 'Friday')
(8, 'Saturday')

In [49]:
# cmp()

def cmp(t1,t2):
    return bool(t1 > t2) - bool(t1 < t2)
print(cmp((1,2,3),(2,3,4)))      # t1 is lesser than t2 becoz it gives -1 as output

def cmp(t3,t4):
    return bool(t3 > t4) - bool(t3 < t4)
print(cmp((4,5,6),(1,2,3)))      # t3 is greater than t4 becoz it gives 1 as output

def cmp(t5,t6):
    return bool(t5 > t6) - bool(t5 < t6)
print(cmp((4,5,6),(4,5,6)))     # # t5 is equal to t6 becoz it gives 0 as output

-1
1
0

### Fact

In [72]:
# if a tuple includes only one element, you should put a comma after the element. Otherwise, it is not considered as a tuple
  
my_tuple = ("apple")    # it also enclosed with () but the type is string ...
print(type(my_tuple))

my_tup_num = (10)
print(type(my_tup_num))

<class 'str'>
<class 'int'>

In [73]:
my_tuple = ("apple",)  # to make one element in the tuple,do separate it with comma
print(type(my_tuple))

my_tup_num = (10,)
print(type(my_tup_num))

<class 'tuple'>
<class 'tuple'>

### Indexing

In [15]:
tup = ("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday")

In [16]:
tup[0]

'Sunday'

In [17]:
tup[1]

'Monday'

In [18]:
tup[-1]

'Saturday'

In [19]:
tup[-2]

'Friday'

In [20]:
tup[3]

'Wednesday'

In [30]:
tup[100]    # There is no 100th index

IndexError: tuple index out of range

In [21]:
T2 = (10,20,30,("Haripriya",4+5j,True),100,10.5) # Nested indexing
T2[3][0]

'Haripriya'

### Slicing

In [22]:
tup = ("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday")
tup[0:4]

('Sunday', 'Monday', 'Tuesday', 'Wednesday')

In [23]:
tup[0:4:-1]

()

In [24]:
tup[::-1]

('Saturday', 'Friday', 'Thursday', 'Wednesday', 'Tuesday', 'Monday', 'Sunday')

In [25]:
tup[-1:-5]

()

In [26]:
tup[-1:-5:-1]

('Saturday', 'Friday', 'Thursday', 'Wednesday')

In [27]:
tup[0:]

('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday')

In [28]:
tup[::]

('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday')

In [31]:
tup[:300]

('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday')

In [32]:
tup[:]

('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday')

### Basic methods

In [51]:
# len()
t = (1,2,8,0,4,10,3,5,6,2,7)
len(t)

11

In [52]:
# max()
max(t)

10

In [53]:
# min()
min(t)

0

In [38]:
t = (1,2,8,0,4,10,3,5,6,2,7)
t.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [43]:
t = (1,2,8,0,4,10,3,5,6,2,7)
print(tuple(sorted(tuple(t))))

print(tuple(sorted(t,reverse = True)))

(0, 1, 2, 2, 3, 4, 5, 6, 7, 8, 10)
(10, 8, 7, 6, 5, 4, 3, 2, 2, 1, 0)

In [56]:
sorted(t)

[0, 1, 2, 2, 3, 4, 5, 6, 7, 8, 10]

### Tuples are immutable!!!

In [60]:
# we cant either remove or add elements in tuple

print("-----list------")
l = [1,2,10,4,3,6,14,30]
l.remove(1)
print(l)
print("------tuple-------")
t = (1,2,10,4,3,6,14,30)
t.remove(1)

-----list------
[2, 10, 4, 3, 6, 14, 30]
------tuple-------

AttributeError: 'tuple' object has no attribute 'remove'

In [61]:
print("-----list------")
l = [1,2,10,4,3,6,14,30]
del l[0]
print(l)
print("------tuple-------")
t = (1,2,10,4,3,6,14,30)
del t[0]      # since tuple is immutable ,we cant remove any elements which will change the tuple

-----list------
[2, 10, 4, 3, 6, 14, 30]
------tuple-------

TypeError: 'tuple' object doesn't support item deletion

In [62]:
print("-----list------")
l = [1,2,10,4,3,6,14,30]
l[0] = 1000
print(l)
print("------tuple-------")
t = (1,2,10,4,3,6,14,30)      # we cant even change the value in tuple
t[0] = 1000

-----list------
[1000, 2, 10, 4, 3, 6, 14, 30]
------tuple-------

TypeError: 'tuple' object does not support item assignment

In [63]:
# An element in a tuple can not be deleted since it is immutable.
# But a whole tuple can be deleted

t1 = (74,2,3,2)
del t1

In [64]:
t1

NameError: name 't1' is not defined

### Tuple is ordered too!!!

In [66]:
t = (1,2,4,6,1,9,4)   # both tuples has same values but those are not equal becox the order is different
t1 = (1,4,2,6,1,9,4)

t == t1

False

In [67]:
t = (1,2,4,6,1,9,4)
t1 = (1,2,4,6,1,9,4)

t == t1

True

### Tuple inbuild methods

In [79]:
# we have only two inbuild methods which is becoz the tuple is immutable
tup = ("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday")

tup.count("Sunday")

1

In [80]:
# count() helps to find the number of times the particular element has occured

t = (1,2,3,1,4,3,2,5,6,2)
t.count(2)

3

In [81]:
# index() helps to find the index of specified element

t.index(2)

1

In [82]:
t.index(10)

ValueError: tuple.index(x): x not in tuple

In [84]:
# sorted

t = (1,2,3,1,4,3,2,5,6,2)
sorted(t)

[1, 1, 2, 2, 2, 3, 3, 4, 5, 6]

In [85]:
sorted(t,reverse = True)

[6, 5, 4, 3, 3, 2, 2, 2, 1, 1]

### Udemy exercises

#### Exercise 50
```
Two following tuples are given:

dji1 = ('AAPL.US', 'IBM.US', 'MSFT.US')
dji2 = ('HD.US', 'GS.US', 'NKE.US')


Combine these tuples into one as shown below and print the result to the console.

Expected result:
('AAPL.US', 'IBM.US', 'MSFT.US', 'HD.US', 'GS.US', 'NKE.US')
```

In [1]:
dji1 = ('AAPL.US', 'IBM.US', 'MSFT.US')
dji2 = ('HD.US', 'GS.US', 'NKE.US')
print(dji1+dji2)

('AAPL.US', 'IBM.US', 'MSFT.US', 'HD.US', 'GS.US', 'NKE.US')

#### Exercise 51
```
The following tuples are given:

dji1 = ('AAPL.US', 'IBM.US', 'MSFT.US')
dji2 = ('HD.US', 'GS.US', 'NKE.US')


Nest these tuples into one tuple as shown below and print the result to the console.

Expected result:

(('AAPL.US', 'IBM.US', 'MSFT.US'), ('HD.US', 'GS.US', 'NKE.US'))
```

In [9]:
dji1 = ('AAPL.US', 'IBM.US', 'MSFT.US')
dji2 = ('HD.US', 'GS.US', 'NKE.US')
print(f"({dji1},{dji2})")

(('AAPL.US', 'IBM.US', 'MSFT.US'),('HD.US', 'GS.US', 'NKE.US'))

In [10]:
# correct format
dji1 = ('AAPL.US', 'IBM.US', 'MSFT.US')
dji2 = ('HD.US', 'GS.US', 'NKE.US')
result = (dji1,dji2)
print(result)

(('AAPL.US', 'IBM.US', 'MSFT.US'), ('HD.US', 'GS.US', 'NKE.US'))

In [12]:
dji1 = ('AAPL.US', 'IBM.US', 'MSFT.US')
dji2 = ('HD.US', 'GS.US', 'NKE.US')
print((dji1,dji2))

(('AAPL.US', 'IBM.US', 'MSFT.US'), ('HD.US', 'GS.US', 'NKE.US'))

#### Exercise 52
```
Tuples are immutable. The following tuple is given:

members = (('Kate', 23), ('Tom', 19))

Insert a tuple ('John', 26) between Kate and Tom as shown below. Print the result to the console.

Tip: You have to create a new tuple.

Expected result:
(('Kate', 23), ('John', 26), ('Tom', 19))
```

In [20]:
members = (('Kate', 23), ('Tom', 19))

members = (members[0],('John', 26),members[1])
print(members)

(('Kate', 23), ('John', 26), ('Tom', 19))

#### Exercise 53
```
The following tuple is given:

default = ('YES', 'NO', 'NO', 'YES', 'NO')

Using the appropriate method return the number of occurrences of the string 'YES' and print the result to the console as shown below.

Expected result:
Number of occurrences: 2
```

In [24]:
default = ('YES', 'NO', 'NO', 'YES', 'NO')
print(f"Number of occurrences: {default.count('YES')}")

Number of occurrences: 2

#### Exercise 54
```
Sort the given tuple (from A to Z):

names = ('Monica', 'Tom', 'John', 'Michael')

Print the sorted tuple to the console as shown below.

Expected result:
('John', 'Michael', 'Monica', 'Tom')
```

In [27]:
names = ('Monica', 'Tom', 'John', 'Michael')
print(tuple(sorted(names)))

('John', 'Michael', 'Monica', 'Tom')

#### Exercise 55
```
The following tuple is given (name, age):

info = (('Monica', 19), ('Tom', 21), ('John', 18))

Sort this tuple:

ascending by age

descending by age

And print the result to the console as shown below.

Expected result:
Ascending: (('John', 18), ('Monica', 19), ('Tom', 21))
Descending: (('Tom', 21), ('Monica', 19), ('John', 18))
```

In [32]:
info = (('Monica', 19), ('Tom', 21), ('John', 18))
Ascending = tuple(sorted(info))
Descending = tuple(sorted(info,reverse = True))
print(f"Ascending: {Ascending}")
print(f"Descending: {Descending}")

Ascending: (('John', 18), ('Monica', 19), ('Tom', 21))
Descending: (('Tom', 21), ('Monica', 19), ('John', 18))

In [34]:
info = (('Monica', 19), ('Tom', 21), ('John', 18))
Ascending = tuple(sorted(info,key = lambda item : item[1]))
Descending = tuple(sorted(info,key = lambda item : item[1],reverse = True))
print(f"Ascending: {Ascending}")
print(f"Descending: {Descending}")

Ascending: (('John', 18), ('Monica', 19), ('Tom', 21))
Descending: (('Tom', 21), ('Monica', 19), ('John', 18))

#### Exercise 56
```
The following tuple is given:

stocks = (
    ("Apple Inc", ("AAPL.US", 310)),
    ("Microsoft Corp", ("MSFT.US", 184)),
)

Extract a ticker for Apple and print the result to the console.

Expected result:
AAPL.US
```

In [36]:
stocks = (
    ("Apple Inc", ("AAPL.US", 310)),
    ("Microsoft Corp", ("MSFT.US", 184)),
)
print(stocks[0][1][0])

AAPL.US