In [1]:
d = {}
type(d)

dict

In [85]:
s = {1}
print(type(s))

<class 'set'>

In [2]:
d1 = dict()
type(d1)

dict

In [88]:
d = dict([(1,10),(2,20)])
print(d)

{1: 10, 2: 20}

In [4]:
fruits = {"Apple":50,"Mango":30,"Orange":40}
print(type(fruits))

<class 'dict'>

In [17]:
y = dict([("a",10),("b",100),("c",400)])  # can use dict keyword to create a dictionary
print(y)

{'a': 10, 'b': 100, 'c': 400}

In [6]:
# Any type of data is allowed

d = {"a":10,"b":10.4,"c":"Haripiya","d":True,"e":4+5j}
print(type(d))

<class 'dict'>

In [93]:
d1 = {"string":"Haripriya","Tuple":(1,2,3,4),"List":[1,2,3,4,5],"dict":{1:2,3:4}}
print(d1["string"])
print(d1["Tuple"][1])
print(d1["dict"][3])

Haripriya
2
4

In [42]:
# you can even use inbuild functions as key

v = {print:10,float:300,dict:400}

In [10]:
# We cant have key names with special character like variables

di = {"a_":100,4:200,* = 300,_4 = 400}

SyntaxError: invalid syntax (2768021885.py, line 3)

In [12]:
# keys name can be same but it is better to give unique key names

x = {"key1":10,"key2":"hari","key3":800,"key1":400}
x["key1"]    # internally it updates the value so key1 value is not 10 but 400  so it gets confused

400

In [13]:
# to check type of the value in dictionary

d = {"a":10,"b":10.4,"c":"Haripiya","d":True,"e":4+5j}

print(type(d["c"]))

<class 'str'>

In [94]:
d = {"a":10,"b":10.4,"c":"Haripiya","d":True,"e":4+5j}
type(d["a"])

int

In [14]:
print(type(d["e"]))

<class 'complex'>

In [31]:
# to find the lenght of the dictionary

a = {"Apple":50,"Mango":30,"Orange":40}
print(len(a))

3

In [26]:
# to iterate using for loop
a = {"Apple":50,"Mango":30,"Orange":40}
for i in a:
    print(i)

Apple
Mango
Orange

In [30]:
a = {"Apple":50,"Mango":30,"Orange":40}
for i in a:
    print(a[i])

50
30
40

In [27]:
a = {"Apple":50,"Mango":30,"Orange":40}
for i in a.values():
    print(i)

50
30
40

In [28]:
a = {"Apple":50,"Mango":30,"Orange":40}
for i in a.keys():
    print(i)

Apple
Mango
Orange

In [35]:
a = {"Apple":50,"Mango":30,"Orange":40}
for i in a.items():
    print(i)

('Apple', 50)
('Mango', 30)
('Orange', 40)

In [96]:
a = {"Apple":50,"Mango":30,"Orange":40}

for i in enumerate(a):
    print(i)

(0, 'Apple')
(1, 'Mango')
(2, 'Orange')

In [98]:
# Membership

fruits = {"Apple":50,"Mango":30,"Orange":40}
"Apple" in fruits

True

In [45]:
"Grapes" in fruits

False

In [51]:
# Concatenation in dictionary is not possible even though both are homogeneous

d1 = {1:10,2:20,3:30}
d2 = {4:40,5:50,6:60}
print(d1 + d2)

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [52]:
d1 = {1:10,2:20,3:30}
d2 = {4:40,5:50,6:60}
print(d1 * d2)

TypeError: unsupported operand type(s) for *: 'dict' and 'dict'

In [84]:
# take a string as an input and find the frequency of eac letter in the string

s = input()
d = {}

for i in s:
    if i in d:
        d[i] = d[i] + 1
    else:
        d[i] = 1
print(d)

Haripriya
{'H': 1, 'a': 2, 'r': 2, 'i': 2, 'p': 1, 'y': 1}

### Dictionaries cannot be accessed with indexing and slicing

In [18]:
# Dictionaries can be accessed with keys only

a = {"Apple":50,"Mango":30,"Orange":40}
a[0]

KeyError: 0

In [19]:
a = {"Apple":50,"Mango":30,"Orange":40}
print(a["Apple"])

50

In [20]:
a = {"Apple":50,"Mango":30,"Orange":40}
print(a["Mango"])

30

In [21]:
# To add item in a dictionary

a["key4"] = 1000
print(a)

{'Apple': 50, 'Mango': 30, 'Orange': 40, 'key4': 1000}

In [22]:
# to remove item in a dictionary

del a["key4"]

In [23]:
a

{'Apple': 50, 'Mango': 30, 'Orange': 40}

In [24]:
# to change any value of the item in a dictionary

a = {"Apple":50,"Mango":30,"Orange":40}
a["Apple"] = 100

In [25]:
a

{'Apple': 100, 'Mango': 30, 'Orange': 40}

In [34]:
Details = {"Name":"Haripriya","Age":21,"Place":"Chennai","DOB":"03/09/2002"}

print("Name: ",Details["Name"])
print("Age: ",Details["Age"])
print("Place: ",Details["Place"])
print("Date of birth: ",Details["DOB"])

Name:  Haripriya
Age:  21
Place:  Chennai
Date of birth:  03/09/2002

In [36]:
# the key is not actually in the dictionary

a = {"Apple":50,"Mango":30,"Orange":40}
a["grapes"]

KeyError: 'grapes'

In [39]:
x = {1:"Hari",2:10,3:300.4}
x[1]

'Hari'

### Dictionary is mutable!!!

In [46]:
fruits = {"Apple":50,"Mango":30,"Orange":40}

fruits["Apple"] = 100
print(fruits)

{'Apple': 100, 'Mango': 30, 'Orange': 40}

### Inbuild functions

In [47]:
numbers = {"one":10,"two":20,"three":30,"four":40,"five":50}

In [49]:
# get() - To get value of the key or Returns the value of the specified key.

numbers.get("one")

10

In [99]:
numbers = {"one":10,"two":20,"three":30,"four":40,"five":50}
numbers.get("three")

30

In [57]:
# fromkeys() - Returns a dictionary with the specified keys and value


d = {}
keys = {"a","b","c"}
values = {1000,2000,3000}

d1 = d.fromkeys(keys,values)
print(d1)

{'a': {1000, 3000, 2000}, 'c': {1000, 3000, 2000}, 'b': {1000, 3000, 2000}}

In [101]:
l = {}

l1 = l.fromkeys("orange",1000)
print(l1)

{'o': 1000, 'r': 1000, 'a': 1000, 'n': 1000, 'g': 1000, 'e': 1000}

In [59]:
# copy() - Returns a copy of the dictionary.

numbers = {"one":10,"two":20,"three":30,"four":40,"five":50}
numbers_1 = numbers.copy()
print(numbers_1)

{'one': 10, 'two': 20, 'three': 30, 'four': 40, 'five': 50}

In [103]:
numbers = {"one":10,"two":20,"three":30,"four":40,"five":50}
number = numbers.copy()
print(number)

{'one': 10, 'two': 20, 'three': 30, 'four': 40, 'five': 50}

In [61]:
# clear() - Remove all the items from the dictionary.

numbers = {"one":10,"two":20,"three":30,"four":40,"five":50}
numbers.clear()
print(numbers)

{}

In [62]:
# items() - It returns all the key-value pairs as a tuple.

numbers = {"one":10,"two":20,"three":30,"four":40,"five":50}
key_val = numbers.items()
print(key_val)

dict_items([('one', 10), ('two', 20), ('three', 30), ('four', 40), ('five', 50)])

In [63]:
# keys() - It returns all the keys of the dictionary.

numbers = {"one":10,"two":20,"three":30,"four":40,"five":50}
numbers.keys()

dict_keys(['one', 'two', 'three', 'four', 'five'])

In [65]:
# values() - Returns a list of values in a dictionary.

numbers = {"one":10,"two":20,"three":30,"four":40,"five":50}
numbers.values()

dict_values([10, 20, 30, 40, 50])

In [67]:
# pop() - Removes the item with the specified key.

numbers = {"one":10,"two":20,"three":30,"four":40,"five":50}
numbers.pop("five")
print(numbers)

{'one': 10, 'two': 20, 'three': 30, 'four': 40}

In [105]:
numbers = {"one":10,"two":20,"three":30,"four":40,"five":50}
numbers.pop("four")
numbers

{'one': 10, 'two': 20, 'three': 30, 'five': 50}

In [68]:
numbers = {"one":10,"two":20,"three":30,"four":40,"five":50}
numbers.pop("six")

KeyError: 'six'

In [70]:
# popitem - removes the most recent key-value pair entered or Returns the last inserted key and value as a tuple

numbers = {"one":10,"two":20,"three":30,"four":40,"five":50}
numbers.popitem()

('five', 50)

In [72]:
numbers = {"one":10,"two":20,"three":30,"four":40,"five":50}
numbers["six"] = 60
numbers.popitem()

('six', 60)

In [73]:
numbers

{'one': 10, 'two': 20, 'three': 30, 'four': 40, 'five': 50}

In [81]:
"""
setdefault()-The setdefault() method is designed to retrieve a value from a dictionary based on a given key,
but it also has the capability to insert a new key-value pair with a default value if the key doesn't already exist.
Returns the value of the specified key. If the key does not exist: insert the key, with the specified value.
"""


numbers = {"one":10,"two":20,"three":30,"four":40,"five":50}
numbers.setdefault("six",60)
numbers

{'one': 10, 'two': 20, 'three': 30, 'four': 40, 'five': 50, 'six': 60}

In [77]:
# Example 1: Key exists

my_dict = {"fruit": "apple", "color": "red"}
fruit = my_dict.setdefault("fruit", "banana")  # Key exists, returns "apple"
print(my_dict) # Output: {"fruit": "apple", "color": "red"} (no change)

{'fruit': 'apple', 'color': 'red'}

In [78]:
# Example 2: Key doesn't exist
color = my_dict.setdefault("size", "medium")  # Key doesn't exist, inserts "size": "medium"
print(my_dict)  # Output: {"fruit": "apple", "color": "red", "size": "medium"}

{'fruit': 'apple', 'color': 'red', 'size': 'medium'}

In [79]:
# Example 3: Omitting default value
value = my_dict.setdefault("missing_key")  # Key doesn't exist, inserts "missing_key": None
print(my_dict)  # Output: {..., "missing_key": None}

{'fruit': 'apple', 'color': 'red', 'size': 'medium', 'missing_key': None}

In [83]:
# update() - Adds or changes dictionary items

numbers = {"one":10,"two":20,"three":30,"four":40,"five":50}
numbers.update({"one":1000})
print(numbers)

{'one': 1000, 'two': 20, 'three': 30, 'four': 40, 'five': 50}

### Udemy exercises

#### Exercise 64
```
Create a dictionary from the following pairs (key, value):

'USA': 'Washington'
'Germany': 'Berlin'
'Austria': 'Vienna'


and print it to the console.

Expected result:

{'USA': 'Washington', 'Germany': 'Berlin', 'Austria': 'Vienna'}
```

In [107]:
dic = dict[("USA","Washington"),("Germany","Berlin"),("Austria","Vienna")]
print(dic)

dict[('USA', 'Washington'), ('Germany', 'Berlin'), ('Austria', 'Vienna')]

In [108]:
d = {'USA': 'Washington','Germany': 'Berlin','Austria': 'Vienna'}
print(d)

{'USA': 'Washington', 'Germany': 'Berlin', 'Austria': 'Vienna'}

#### Exercise 65
```
The following dictionary is given:

capitals = {
    'USA': 'Washington',
    'Germany': 'Berlin',
    'Austria': 'Vienna'
}

Use the appropriate method to extract all keys from the capitals dictionary and print to the console.

Expected result:
dict_keys(['USA', 'Germany', 'Austria'])
```

In [109]:
capitals = {'USA': 'Washington','Germany': 'Berlin','Austria': 'Vienna'}
capitals.keys()

dict_keys(['USA', 'Germany', 'Austria'])

#### Exercise 66
```
The following dictionary is given:

capitals = {
    'USA': 'Washington',
    'Germany': 'Berlin',
    'Austria': 'Vienna'
}

Use the appropriate method to extract all values from the capitals dictionary and print to the console.

Expected result:

dict_values(['Washington', 'Berlin', 'Vienna'])
```

In [110]:
capitals = {'USA': 'Washington','Germany': 'Berlin','Austria': 'Vienna'}
print(capitals.values())

dict_values(['Washington', 'Berlin', 'Vienna'])

#### Exercise 67
```
The following dictionary is given:

capitals = {
    'USA': 'Washington',
    'Germany': 'Berlin',
    'Austria': 'Vienna'
}

Using the appropriate method, extract the list containing tuple objects (key, value) from the capitals dictionary and print to the console as shown below.

Expected result:
dict_items([('USA', 'Washington'), ('Germany', 'Berlin'), ('Austria', 'Vienna')])
```

In [111]:
capitals = {'USA': 'Washington','Germany': 'Berlin','Austria': 'Vienna'}
print(capitals.items())

dict_items([('USA', 'Washington'), ('Germany', 'Berlin'), ('Austria', 'Vienna')])

#### Exercise 68
```
The following dictionary is given:

capitals = {
    'USA': 'Washington',
    'Germany': 'Berlin',
    'Austria': 'Vienna'
}

Using the dict.get() method, extract the value for the key 'Austria' and print it to the console.

Expected result:
Vienna
```

In [112]:
capitals = {
    'USA': 'Washington',
    'Germany': 'Berlin',
    'Austria': 'Vienna'
}

print(capitals.get("Austria"))

Vienna

In [114]:
print(capitals["Austria"])

Vienna

#### Exercise 69
```
The following dictionary is given:

stocks = {
    'MSFT.US': {'Microsoft Corp': 184},
    'AAPL.US': {'Apple Inc': 310},
    'MMM.US': {'3M Co': 148}
}

Extract the value for the key 'AAPL.US' and print it to the console.

Expected result:
{'Apple Inc': 310}
```

In [113]:
stocks = {
    'MSFT.US': {'Microsoft Corp': 184},
    'AAPL.US': {'Apple Inc': 310},
    'MMM.US': {'3M Co': 148}
}
print(stocks['AAPL.US'])

{'Apple Inc': 310}

In [115]:
stocks = {
    'MSFT.US': {'Microsoft Corp': 184},
    'AAPL.US': {'Apple Inc': 310},
    'MMM.US': {'3M Co': 148}
}
print(stocks.get("AAPL.US"))

{'Apple Inc': 310}

#### Exercise 70
```
The following dictionary is given:

stocks = {
    'MSFT.US': {'Microsoft Corp': 184},
    'AAPL.US': {'Apple Inc': 310},
    'MMM.US': {'3M Co': 148}
}

Get the price for Microsoft (value for the 'Microsoft Corp' key) and print it to the console.

Expected result:
184
```

In [116]:
stocks = {
    'MSFT.US': {'Microsoft Corp': 184},
    'AAPL.US': {'Apple Inc': 310},
    'MMM.US': {'3M Co': 148}
}

print(stocks['MSFT.US']["Microsoft Corp"])

184

#### Exercise 71
```
The following dictionary is given:

stocks = {
    'MSFT.US': {'Microsoft Corp': 184},
    'AAPL.US': {'Apple Inc': 310},
    'MMM.US': {'3M Co': 148}
}

Update the price for Microsoft to 190 and print the value for the 'MSFT.US' key to the console.

Expected result:

{'Microsoft Corp': 190}
```

In [129]:
stocks = {
    'MSFT.US': {'Microsoft Corp': 184},
    'AAPL.US': {'Apple Inc': 310},
    'MMM.US': {'3M Co': 148}
}

stocks["MSFT.US"]["Microsoft Corp"] = 190
print(stocks["MSFT.US"])

{'Microsoft Corp': 190}

In [122]:
stocks = {
    'MSFT.US': {'Microsoft Corp': 184},
    'AAPL.US': {'Apple Inc': 310},
    'MMM.US': {'3M Co': 148}
}

print(stocks.update({"MSFT.US":{"Microsoft":190}}))
print(stocks)

None
{'MSFT.US': {'Microsoft': 190}, 'AAPL.US': {'Apple Inc': 310}, 'MMM.US': {'3M Co': 148}}

#### Exercise 72
```
The following dictionary is given:

stocks = {
    'MSFT.US': {'Microsoft Corp': 184},
    'AAPL.US': {'Apple Inc': 310},
    'MMM.US': {'3M Co': 148}
}

Add a fourth pair to this dictionary with the key 'V.US' and the value: {'Visa Inc': 185}. Print the values of the stocks dictionary to the console.

Expected result:
dict_values([{'Microsoft Corp': 184}, {'Apple Inc': 310}, {'3M Co': 148}, {'Visa Inc': 185}])
```

In [131]:
stocks = {
    'MSFT.US': {'Microsoft Corp': 184},
    'AAPL.US': {'Apple Inc': 310},
    'MMM.US': {'3M Co': 148}
}

stocks["V.US"] = {'Visa Inc': 185}
print(stocks.values())

dict_values([{'Microsoft Corp': 184}, {'Apple Inc': 310}, {'3M Co': 148}, {'Visa Inc': 185}])

In [133]:
stocks = {
    'MSFT.US': {'Microsoft Corp': 184},
    'AAPL.US': {'Apple Inc': 310},
    'MMM.US': {'3M Co': 148}
}

stocks.update({'V.US':{'Visa Inc': 185}})
print(stocks.values())

dict_values([{'Microsoft Corp': 184}, {'Apple Inc': 310}, {'3M Co': 148}, {'Visa Inc': 185}])

#### Exercise 73
```
A list of tickers from the Dow Jones index is given:

tickers = [
    'AAPL.US', 'AXP.US', 'BA.US', 'CAT.US',
    'CSCO.US', 'CVX.US', 'DIS.US', 'DOW.US',
    'GS.US', 'HD.US', 'IBM.US', 'INTC.US'
]

Transform this list into a list of two-element tuple objects (index, ticker) and print it to the console.

Formatted result for better view:


[(0, 'AAPL.US'),
 (1, 'AXP.US'),
 (2, 'BA.US'),
 (3, 'CAT.US'),
 (4, 'CSCO.US'),
 (5, 'CVX.US'),
 (6, 'DIS.US'),
 (7, 'DOW.US'),
 (8, 'GS.US'),
 (9, 'HD.US'),
 (10, 'IBM.US'),
 (11, 'INTC.US')]

Expected result:


[(0, 'AAPL.US'), (1, 'AXP.US'), (2, 'BA.US'), (3, 'CAT.US'), (4, 'CSCO.US'), (5, 'CVX.US'), (6, 'DIS.US'), (7, 'DOW.US'), (8, 'GS.US'), (9, 'HD.US'), (10, 'IBM.US'), (11, 'INTC.US')]
```

In [7]:
tickers = [
    'AAPL.US', 'AXP.US', 'BA.US', 'CAT.US',
    'CSCO.US', 'CVX.US', 'DIS.US', 'DOW.US',
    'GS.US', 'HD.US', 'IBM.US', 'INTC.US'
]
print(list(enumerate(tickers)))

[(0, 'AAPL.US'), (1, 'AXP.US'), (2, 'BA.US'), (3, 'CAT.US'), (4, 'CSCO.US'), (5, 'CVX.US'), (6, 'DIS.US'), (7, 'DOW.US'), (8, 'GS.US'), (9, 'HD.US'), (10, 'IBM.US'), (11, 'INTC.US')]

In [6]:
tickers = [
    'AAPL.US', 'AXP.US', 'BA.US', 'CAT.US',
    'CSCO.US', 'CVX.US', 'DIS.US', 'DOW.US',
    'GS.US', 'HD.US', 'IBM.US', 'INTC.US'
]

for i in enumerate(tickers):
    print(i)

(0, 'AAPL.US')
(1, 'AXP.US')
(2, 'BA.US')
(3, 'CAT.US')
(4, 'CSCO.US')
(5, 'CVX.US')
(6, 'DIS.US')
(7, 'DOW.US')
(8, 'GS.US')
(9, 'HD.US')
(10, 'IBM.US')
(11, 'INTC.US')

#### Exercise 74
```
A list of tickers from the Dow Jones index is given:

tickers = [
    'AAPL.US', 'AXP.US', 'BA.US', 'CAT.US',
    'CSCO.US', 'CVX.US', 'DIS.US', 'DOW.US',
    'GS.US', 'HD.US', 'IBM.US', 'INTC.US'
]

Transform this list into a dictionary (index, ticker) and print it to the console.
Formatted result for better view:

{0: 'AAPL.US',
 1: 'AXP.US',
 2: 'BA.US',
 3: 'CAT.US',
 4: 'CSCO.US',
 5: 'CVX.US',
 6: 'DIS.US',
 7: 'DOW.US',
 8: 'GS.US',
 9: 'HD.US',
 10: 'IBM.US',
 11: 'INTC.US'}


Expected result:

{0: 'AAPL.US', 1: 'AXP.US', 2: 'BA.US', 3: 'CAT.US', 4: 'CSCO.US', 5: 'CVX.US', 6: 'DIS.US', 7: 'DOW.US', 8: 'GS.US', 9: 'HD.US', 10: 'IBM.US', 11: 'INTC.US'}
```

In [11]:
tickers = [
    'AAPL.US', 'AXP.US', 'BA.US', 'CAT.US',
    'CSCO.US', 'CVX.US', 'DIS.US', 'DOW.US',
    'GS.US', 'HD.US', 'IBM.US', 'INTC.US'
]

print(dict(enumerate(tickers)))

{0: 'AAPL.US', 1: 'AXP.US', 2: 'BA.US', 3: 'CAT.US', 4: 'CSCO.US', 5: 'CVX.US', 6: 'DIS.US', 7: 'DOW.US', 8: 'GS.US', 9: 'HD.US', 10: 'IBM.US', 11: 'INTC.US'}

#### Exercise 75
```
The following dictionary is given:

project_ids = {
    '01': 'open', 
    '03': 'in progress',
    '05': 'in progress',
    '04': 'completed'
}

Extract a list of unique values (sorted alphabetically) from the project_ids dictionary and print it to the console.
Expected result:
['completed', 'in progress', 'open']
```

In [16]:
project_ids = {
    '01': 'open', 
    '03': 'in progress',
    '05': 'in progress',
    '04': 'completed'
}

unique_values = set(project_ids.values())
print(sorted(list(unique_values)))

['completed', 'in progress', 'open']

In [18]:
project_ids = {
    '01': 'open', 
    '03': 'in progress',
    '05': 'in progress',
    '04': 'completed'
}

unique_values = list(set(project_ids.values()))
unique_values.sort()
print(unique_values)

['completed', 'in progress', 'open']

In [19]:
project_ids = {
    '01': 'open', 
    '03': 'in progress',
    '05': 'in progress',
    '04': 'completed'
}

print(sorted(list(set(project_ids.values()))))

['completed', 'in progress', 'open']

#### Exercise 76
```
The following dictionary is given:

stats = {'site': 'e-smartdata.org', 'traffic': 100, 'type': 'organic'}

Delete the 'traffic' key pair from this dictionary and print it to the console.

Expected result:

{'site': 'e-smartdata.org', 'type': 'organic'}
```

In [21]:
stats = {'site': 'e-smartdata.org', 'traffic': 100, 'type': 'organic'}
del stats["traffic"]
print(stats)

{'site': 'e-smartdata.org', 'type': 'organic'}

In [23]:
stats = {'site': 'e-smartdata.org', 'traffic': 100, 'type': 'organic'}
stats.pop("traffic")
print(stats)

{'site': 'e-smartdata.org', 'type': 'organic'}

#### Exercise 77
```
The following dictionary is given:

users = {'001': 'Mark', '002': 'Monica', '003': 'Jacob'}

Try to print value for key '004'.

In this exercise use the dict.get() method. When the key is not in the dictionary set default value to the string 'indefinite'.
Expected result:
'indefinite'
```

In [26]:
users = {'001': 'Mark', '002': 'Monica', '003': 'Jacob'}

if "004" in users:
    users.get()
else:
    users.setdefault("004","indefinite")
print(users)

{'001': 'Mark', '002': 'Monica', '003': 'Jacob', '004': 'indefinite'}

In [67]:
users = {'001': 'Mark', '002': 'Monica', '003': 'Jacob'}
print(users.get("004","indefinite"))

indefinite

In [48]:
# reverse a string

s = "Haripriya"
s1 = ""
i = len(s) - 1
while i >= 0:
    s1 = s1 + s[i]
    i = i - 1
print(s1)

ayirpiraH

In [28]:
s = "Haripriya"
print(s[::-1])

ayirpiraH

In [51]:
s = "Haripriya"
s1 = ""

for i in s[::-1]:
    s1 = s1 + i
print(s1)

ayirpiraH

In [68]:
# separate numbers and letters from string and add it ina list separately

s = "123ghdshf"
l1 = []
l2 = []

for i in s:
    if i.isdigit():
        l1.append(i)
    else:
        l2.append(i)
print(l1)
print(l2)

['1', '2', '3']
['g', 'h', 'd', 's', 'h', 'f']

In [69]:
l = [1,2,"a","u"]

l1 = []
l2 = []

for i in l:
    if type(i) == int:
        l1.append(i)
    else:
        l2.append(i)
print(l1)
print(l2)

[1, 2]
['a', 'u']

In [74]:
l = [1,2,"a","u"]

l1 = []
l2 = []

[l1.append(i) if type(i) == int else l2.append(i) for i in l]
print(l1)
print(l2)

[1, 2]
['a', 'u']