In [1]:
# iterating list elements through for loop

fruits = ["apple","mango","orange"]
for i in fruits:
    print(i)

apple
mango
orange

In [2]:
# iterating string through for loop

x = "I am Haripriya"
for i in x:
    print(i)

I

a
m

H
a
r
i
p
r
i
y
a

In [4]:
# iterating each element from tuple using for loop

fruits = ("apple","mango","orange","grapes")
for i in fruits:
    print(i)

apple
mango
orange
grapes

In [5]:
# iterating each element from dictionary using for loop

d = {"apple":50,"mango":30,"grapes":40,"orange":20}
for i in d:
    print(i,d[i])   # key and value

apple 50
mango 30
grapes 40
orange 20

In [16]:
x = {10:100,20:200,30:300}
for i in x:
    print(i,x[i])

10 100
20 200
30 300

In [6]:
# iterating each element from set using for loop

s = {1,1,4,2,1,6,2,7,4,9}
for i in s:
    print(i)

1
2
4
6
7
9

In [7]:
languages = ["English","Tamil","spanish","french"]
for i in languages:
    print("The language is: ",i)

The language is:  English
The language is:  Tamil
The language is:  spanish
The language is:  french

In [21]:
for i in (1,2,3,4,5):
    print(i)

1
2
3
4
5

In [8]:
# creating a list which contains squares of numbers using for loop

l = [1,2,3,4,5,6,7,8,9,10]
l1 = []

for i in l:
    l1.append(i**2)
print(l1)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [13]:
l = [1,2,3,4,5,6,7,8,9,10]
d = {i : i**2 for i in l}
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [14]:
l = [1,2,3,4,5,6,7,8,9,10]
d = {}

for i in l:
    d[i] = i ** 2
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [71]:
l = "Haripriya"
for i in enumerate(l):
    print(i)

(0, 'H')
(1, 'a')
(2, 'r')
(3, 'i')
(4, 'p')
(5, 'r')
(6, 'i')
(7, 'y')
(8, 'a')

### Iterables
```
In Python, iterable means an object can be used in iteration. The term is used as:

An adjective: An object may be described as iterable.
A noun: An object may be characterized as an iterable.
If an object is iterable,it can be passed to the built-in Python function iter(),
which returns something called an iterator
```

In [18]:
print(iter("haripriya"))      # string
print(iter((10,20,30,40,50))) # tuple
print(iter([100,200,300,400,500])) #list
print(iter({1:10,2:20,3:30}))      # dicitionary
print(iter({1000,2000,3000,1000})) # set

<str_ascii_iterator object at 0x00000187E9420280>
<tuple_iterator object at 0x00000187E9422B90>
<list_iterator object at 0x00000187E9422890>
<dict_keyiterator object at 0x00000187E96567A0>
<set_iterator object at 0x00000187E9433800>

In [20]:
# types which cant be iterated

print(iter(42))  # integer

TypeError: 'int' object is not iterable

In [21]:
print(iter(3.12))  # float

TypeError: 'float' object is not iterable

In [22]:
print(iter(len)) # since it is a inbuild fucntion,cant be iterated

TypeError: 'builtin_function_or_method' object is not iterable

### Iterator
```
An iterator is essentially a value producer that yields successive values from its 
associated iterable object. 
The built-in function next() is used to obtain the next value from in iterator.

```

In [24]:
# we can use next() only if it is iterable

l = [1,2,3,4,5]
l1 = iter(l)          # now it is iterable we can use next()
print(l1)

<list_iterator object at 0x00000187E931DFF0>

In [25]:
next(l1)

1

In [27]:
next(l1)

2

In [28]:
next(l1)

3

In [29]:
next(l1)

4

In [30]:
next(l1)

5

In [32]:
next(l1)   # no elements after 5

StopIteration:

In [33]:
# suppose if it is integer ,it is not iterable u cant either use next() or iter()

a = 42
a1 = iter(a)
print(a1)

TypeError: 'int' object is not iterable

In [34]:
next(a1)

NameError: name 'a1' is not defined

In [3]:
# end
a = [10,20,30,40,50]
for i in a:
    print(i * 2,end=" ")

20 40 60 80 100

In [4]:
a = [10,10.40,"Haripriya",3+7j,True]
for i in a:
    print(i,type(i))

10 <class 'int'>
10.4 <class 'float'>
Haripriya <class 'str'>
(3+7j) <class 'complex'>
True <class 'bool'>

In [5]:
x = [10,20,30,40,50]
y = []

for i in x:
    y.append(i*10)
print(y)

[100, 200, 300, 400, 500]

In [6]:
l = [10,20,30,[100,200,300],"Haripriya",3+4j]

for i in l:
    if type(i) == int:
        print(i)
    elif type(i) == list:
        for j in i:
            if type(j) == int:
                print(j)

10
20
30
100
200
300

In [8]:
# to get only keys or values from dictionary

d1 = {"a":1000,"b":2000,"c":3000}

for i in d1.keys():
    print(i)

a
b
c

In [9]:
for j in d1.values():
    print(j)

1000
2000
3000

In [10]:
for k in d1.items():
    print(k)

('a', 1000)
('b', 2000)
('c', 3000)

In [40]:
l1 = ["C","C++","Python","Javascript","PHP"]
l2 = []

for i in l1:
    if i == "C":
        l2.append(".c")
    elif i == "C++":
        l2.append(".cpp")
    elif i == "Python":
        l2.append(".py")
    elif i == "Javascript":
        l2.append(".js")
    else:
        l2.append(".php")
print(l2)

['.c', '.cpp', '.py', '.js', '.php']

### Range() function
```
The range() function returns a sequence of numbers,starting from 0 
by default,and increments by 1 (by default),and ends at a specified number.
```

In [1]:
print(range(0,9))

range(0, 9)

In [2]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [11]:
for i in range(0,6):
    print(i)

0
1
2
3
4
5

In [13]:
for i in range(1,11):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [14]:
for i in range(0,21,2):    # 0 is the starting,21 is the ending and 2 is jump
    print(i,end=" ")

0 2 4 6 8 10 12 14 16 18 20

In [16]:
number = int(input("Enter number: "))
for i in range(number):
    print(i,end=" ")

Enter number: 30
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29

In [17]:
for i in range(1,4):
    for j in range(1,4):
        print(i,j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [4]:
l = [10,20,30,40,50,60]
for i in range(len(l)):
    print(i,l[i])

0 10
1 20
2 30
3 40
4 50
5 60

In [19]:
# the zip() function to iterate over two lists (fruits and colors) in parallel

fruits = ["apple","mango","orange","grapes"]
colors = ["red","yellow","orange","violet"]

for i,j in zip(fruits,colors):
    print(i,"is",j)

apple is red
mango is yellow
orange is orange
grapes is violet

In [20]:
fruits = ["apple","mango","orange","grapes"]

for i in range(len(fruits)):
    print(i,fruits[i])

0 apple
1 mango
2 orange
3 grapes

In [23]:
for i in range(-5,5):
    print(i,end=" ")

-5 -4 -3 -2 -1 0 1 2 3 4

In [28]:
for i in range(5,-5,-1):
    print(i,end=" ")

5 4 3 2 1 0 -1 -2 -3 -4

In [51]:
num1 = int(input("enter number: "))
num2 = int(input("enter number: "))

for i in range(1,11):
    print(f"{num1}*{i} = ",num1 * i,",",f"{num2} * {i} = ",num2 * i)

enter number: 10
enter number: 5
10*1 =  10 , 5 * 1 =  5
10*2 =  20 , 5 * 2 =  10
10*3 =  30 , 5 * 3 =  15
10*4 =  40 , 5 * 4 =  20
10*5 =  50 , 5 * 5 =  25
10*6 =  60 , 5 * 6 =  30
10*7 =  70 , 5 * 7 =  35
10*8 =  80 , 5 * 8 =  40
10*9 =  90 , 5 * 9 =  45
10*10 =  100 , 5 * 10 =  50

In [4]:
for i in range(0,11):
    print(f"{i} * 10 = ",i * 10)

0 * 10 =  0
1 * 10 =  10
2 * 10 =  20
3 * 10 =  30
4 * 10 =  40
5 * 10 =  50
6 * 10 =  60
7 * 10 =  70
8 * 10 =  80
9 * 10 =  90
10 * 10 =  100

In [50]:
num1 = int(input("enter number: "))
num2 = int(input("enter number: "))

for i in range(1,11):
    print('%d * %d = %d'%(num1,i,num1*i),",",'%d * %d = %d'%(num2,i,num2 * i))

enter number: 10
enter number: 5
10 * 1 = 10 , 5 * 1 = 5
10 * 2 = 20 , 5 * 2 = 10
10 * 3 = 30 , 5 * 3 = 15
10 * 4 = 40 , 5 * 4 = 20
10 * 5 = 50 , 5 * 5 = 25
10 * 6 = 60 , 5 * 6 = 30
10 * 7 = 70 , 5 * 7 = 35
10 * 8 = 80 , 5 * 8 = 40
10 * 9 = 90 , 5 * 9 = 45
10 * 10 = 100 , 5 * 10 = 50

### Pass
```
for loops cannot be empty,but if you for some reason have a 
for loop with no content,put in the pass statement to avoid getting an error.

The pass statement to write empty loops. 
Pass is also used for empty control statements, functions, and classes.
```

In [32]:
s = [1,4,32,6,7]
for i in s:
    pass

In [35]:
c = "Geeksforgeeks" # when you do like this,it will print all elements not print the last one alone and we cant do empty in for loop
for i in c:
    print(i)

G
e
e
k
s
f
o
r
g
e
e
k
s

In [37]:
c = "Geeksforgeeks"
for i in c:
print(i)

IndentationError: expected an indented block after 'for' statement on line 2 (347176235.py, line 3)

In [36]:
c = "Geeksforgeeks"
for i in c:
    pass
print(i)        # this will print the last letter alone without any error

s

In [38]:
list1 = ["python","pass","java","html"]
for i in list1:
    if i == "pass":                     # it passess that part alone 
        pass
    else:
        print("this is how pass works, ",i)

this is how pass works,  python
this is how pass works,  java
this is how pass works,  html

In [39]:
def passs(a):
    pass                # can be in functions,classes,loops and control statements

In [56]:
s = "python"

for i in s:
    if i == "h":
        pass
        print("this is pass block")
    print(i)

p
y
t
this is pass block
h
o
n

### Continue
```
With the continue statement we can stop the current iteration of the loop, 
and continue with the next.


Python continue keyword is used to skip the remaining statements of the 
current loop and go to the next iteration.
In Python, loops repeat processes on their own in an efficient way.
However, there might be occasions when we wish to leave the current loop entirely,
skip iteration,or dismiss the condition controlling the loop.
```

In [57]:
f = ["Apple","Banana","Mango"]

for i in f:
    if i == "Banana":       # it skips that part alone and continues next iteration
        continue
    print(i)

Apple
Mango

In [58]:
for i in "geeksforgeeks":
    if i == "e" or i == "s":
        continue
    print(i)

g
k
f
o
r
g
k

In [60]:
for i in range(1,11):
    if i == 5:
        continue
    else:
        print(i)

1
2
3
4
6
7
8
9
10

In [61]:
li = [[1,2,3],[3,4,5],[5,1,7]]

for i in li:
    for j in i:
        if j == 3:
            continue
        print(j)

1
2
4
5
5
1
7

In [62]:
letter = "PYTHON"

for i in letter:
    if i == "Y":
        continue
    print(i)

P
T
H
O
N

### Break 
```
With the break statement we can stop the loop before it has looped through all the items
```

In [63]:
fruits = ["Apple","Mango","Orange"]
for i in fruits:
    if i == "Mango":
        break
    print(i)

Apple

In [64]:
fruits = ["Apple","Mango","Orange"]
for i in fruits:
    print(i)
    if i == "Mango":
        break

Apple
Mango

In [67]:
s = "geeksforgeeks"

for i in s:
    if i == "e" or i == "s":
        break
    print(i)

g

In [68]:
for i in range(1,11):
    if i == 6:
        break
    print(i)

1
2
3
4
5

In [69]:
for i in range(1,11):
    if i == 6:
        break
print(i)

6

In [70]:
for i in range(1,11):
    print(i)
    if i == 6:
        break

1
2
3
4
5
6

In [76]:
l = [10,20,30,40]
l1 = 0
for i in range(len(l)):
    print(l[i])
    if l[i] == 30:
        break

10
20
30

In [78]:
l = [10,20,30,40]
l1 = 0
for i in range(len(l)):
    if l[i] == 30:
        break
    print(l[i])

10
20

In [4]:
x = ["foo","boo","zoo"]
for i in x:
    if "b" in i:
        break
    print(i)

foo

In [9]:
for i in range(1,31):
    if i == 10:
        print(i)
        break
    print(i)

1
2
3
4
5
6
7
8
9
10

### for else
```
The else keyword in a for loop specifies a block of code to be executed when the loop is finished:

The else block is executed only when the for loop is not terminated by a break statement.
```

In [5]:
for i in range(0,5):
    print(i)
else:
    print("Loop successfully finished!")

0
1
2
3
4
Loop successfully finished!

In [6]:
for i in range(0,5):
    if i == 3:
        break
    print(i)
else:
    print("Loop successfully finished!")

0
1
2

In [7]:
l = ["abc","def","ghi"]

for i in range(len(l)):
    print(l[i])
else:
    print("loop finished!")

abc
def
ghi
loop finished!

In [10]:
l = ["abc","def","ghi"]

for i in range(len(l)):
    if l[i] == "def":
        continue          # will be incomplete and will not come to else part only we used break
    print(l[i])
else:
    print("loop finished!")

abc
ghi
loop finished!

In [11]:
for i in range(50):
    if i > 20:
        break
    print(i)
else:
    print("Done")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [12]:
for i in range(50):
    if i > 20:
        print(i)
else:
    print("Done")

21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
Done

### Nested for loop

In [27]:
"""
  0 1 2 3
0 * 
1 * *
2 * * *
3 * * * *
"""

for i in range(4):
    for j in range(i):
        print("*",end=" ")
    print()

*
* *
* * *

In [10]:
for i in range(5):
    for j in range(i + 1):
        print("*",end = " ")
    print()

*
* *
* * *
* * * *
* * * * *

In [28]:
for i in range(1,5):
    for j in range(i):
        print(i,end=" ")          # here i is row and j is column
    print()

1
2 2
3 3 3
4 4 4 4

In [30]:
for i in range(5,0,-1):
    for j in range(i):
        print("*",end=" ")
        
    print()

* * * * *
* * * *
* * *
* *
*

In [31]:
l = ["python","simplilearn"]
l1 = [1,2]

for i in l:
    for j in l1:
        print(i,j)

python 1
python 2
simplilearn 1
simplilearn 2

### Basic programs on for loop

In [8]:
# to print patterns

num = int(input("Enter a number: "))
for i in range(num):
    for j in range(i+1):
        print("*",end = " ")
    print()

Enter a number: 4
*
* *
* * *
* * * *

In [14]:
number = int(input("Enter number: "))

for i in range(num,-1,-1):
    for j in range(i,-1,-1):
        print("*",end = " ")
    print()

Enter number: 5
* * * * *
* * * *
* * *
* *
*

In [67]:
for i in range(1,6):
    for j in range(i):
        print(i,end = " ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [69]:
for i in range(5,0,-1):
    for j in range(i):
        print(i,end = " ")
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [19]:
# to find the lenght of the string without using inbuild functions

x = "Goodmorning"
count = 0

for i in x:
    count = count + 1
print(count)

11

In [20]:
len(x)

11

In [22]:
# to reverse a string

y = "Hello world"

for i in y[::-1]:
    print(i,end=" ")

d l r o w   o l l e H

In [29]:
y = "Hello world"

for i in range(len(y)-1,-1,-1):
    print(y[i],end = " ")

d l r o w   o l l e H

In [30]:
y[::-1]

'dlrow olleH'

In [43]:
# Vowel or consonant

vowel1 = "aeiou"
vowel2 = "AEIOU"

s = "Haripriya"

for i in s:
    if i in vowel1 or i in vowel2:
        print(i,"is a vowel")
    else:
        print(i,"is a consonant")

H is a consonant
a is a vowel
r is a consonant
i is a vowel
p is a consonant
r is a consonant
i is a vowel
y is a consonant
a is a vowel

In [43]:
s = "Haripriya"

for i in s:
    if i == "a" or i == "e" or i == "i" or i == "o" or i == "u" or i == "A" or i == "E" or i == "I" or i == "O" or i == "U":
        print(i,"is a vowel")
    else:
        print(i,"is a consonant")

H is a consonant
a is a vowel
r is a consonant
i is a vowel
p is a consonant
r is a consonant
i is a vowel
y is a consonant
a is a vowel

In [45]:
# to separate vowel and consonant in separate list or string

All_vowels = ["a","e","i","o","u","A","E","I","O","U"]

s = "Haripriya"

vowels = []
consonant = []

for i in s:
    if i in All_vowels:
        vowels.append(i)
    else:
        consonant.append(i)
print(set(vowels))
print(set(consonant))

{'a', 'i'}
{'r', 'p', 'H', 'y'}

In [47]:
all_vowels = "AEIOUaeiou"

s = "Haripriya"
v = ""
c = ""

for i in s:
    if i in all_vowels:
        v = v + i
    else:
        c = c + i
print(v)
print(c)

aiia
Hrpry

In [49]:
# palindrome

s = "malayalam"

if s == s[::-1]:
    print("palindrome")
else:
    print("not palindrome")

palindrome

In [52]:
s = "malayalam"
s1 = ""
for i in range(len(s)-1,-1,-1):
    s1 = s1 + s[i]
print(s1)
if s == s1:
    print("palindrome")
else:
    print("not palindrome")

malayalam
palindrome

In [54]:
s = "abccba"
f = ""

for i in range(len(s)-1,-1,-1):
    f = f + s[i]
    if f == s:
        print(f,"is a palindrome")
        break
        
else:
    print(f,"is not a palindrome")

abccba is a palindrome

In [56]:
# palindrome for integer

num = int(input("Enter number: "))
num_str = str(num)
num_str1 = ""

for i in range(len(num_str)-1,-1,-1):
    num_str1 = num_str1 + num_str[i]
if num_str == num_str1:
    print(int(num_str1),"is a palindrome")
else:
    print(int(num_str1),"is not a palindrome")

Enter number: 12345
54321 is not a palindrome

In [57]:
# odd or even

for i in range(0,21):
    if i % 2 == 0:
        print(i)
    else:
        pass

0
2
4
6
8
10
12
14
16
18
20

In [64]:
# sum of natural numbers

number = int(input("Enter number: "))
Total = 0

for i in range(number+1):
    Total = Total + i
print(f"Sum of natural number between 0 to {number} is : {Total}")

Enter number: 10
Sum of natural number between 0 to 10 is : 55

In [65]:
# sum of list of numbers

l = [50,50,50,50]
Total = 0

for i in l:
    Total = Total + i
print(Total)

200

In [70]:
# to extract only integer elements from list also if it is nested list

l = [10,20,30,[100,200,"Hari"],3+5j,True]

for i in l:
    if type(i) == int:
        print(i)
    if type(i) == list:
        for j in i:
            if type(j) == int:
                print(j)

10
20
30
100
200

In [77]:
# sum of squares

num = int(input("Enter number: "))
Total = 0

for i in range(1,num+1):
    Total = Total + (i**2)
print(Total)

Enter number: 5
55

In [44]:
"""
Separate the keys with two list...one will be having more than 
5 letter in key and another one will have less than 5 letters key.
"""

d = {"india":"IN","canada":"CA","United states":"Us","China":"CH"}
l1 = []
l2 = []

for i in d:
    if len(i) > 5:
        l1.append(i)
    else:
        l2.append(i)
print(l1)
print(l2)

['canada', 'United states']
['india', 'China']

In [94]:
# to find which number is maximum among different data type

d = {"ineuron":{"a":100,"b":20,"c":2},"course":{"d":9,"e":300,"f":1000},
       "p":"Hari","q":[1,2,454,95,101],"o":(23,42,11,54,40),"num":100001}

l = []

for i in d.values():
    if type(i) == int:
        l.append(i)
    elif type(i) == list or type(i) == tuple:
        l.extend(i)
    elif type(i) == dict:
        for j in i.values():
            l.append(j)
print(max(l))

100001

In [39]:
d = {"ineuron":{"a":100,"b":20,"c":200000},"course":{"d":9,"e":300,"f":10000000},
       "p":"Hari","q":[1,2,454,95,101],"o":(23,42,11,54,4),"num":100001}

maxx = 0
for i in d.values():
    if type(i) == dict:
        for j in i:
            if i[j] > maxx:
                maxx = i[j]

    elif type(i) == list or type(i) == tuple:
        for k in i:
            if k > maxx:
                maxx = k
    elif type(i) == int:
        if i > maxx:
            maxx = i

print(maxx)

10000000

## Udemy exercises

#### Exercise 86
```
Write a program that finds all two-digit numbers divisible by 11 (use a for loop). 
Print the result to the console as comma-separated values as shown below.

Expected result:
11,22,33,44,55,66,77,88,99
```

In [106]:
for i in range(10,100):
    if i % 11 == 0:
        if i == 99:
            print(i,end="")
        else:
            print(i,end=",")

11,22,33,44,55,66,77,88,99

In [110]:
result = []

for i in range(10,100):
    if i % 11 == 0:
        result.append(str(i))
print(",".join(result))

11,22,33,44,55,66,77,88,99

#### Exercise 87
```
Write a program that finds all two-digit numbers divisible by 11 and 
indivisible by 3 (use a for loop). 
Print the result to the console as comma-separated values as shown below.

Expected result:
11,22,44,55,77,88
```

In [7]:
l = []
for i in range(10,100):
    if i % 11 == 0 and i % 3 != 0:
        l.append(str(i))
print(",".join(l))

11,22,44,55,77,88

In [11]:
for i in range(10,100):
    if i % 11 == 0 and i % 3 != 0:
        if i == 88:
            print(i,end="")
        else:
            print(i,end=",")

11,22,44,55,77,88

#### Exercise 88
```
The following list of numbers is given:

items = [1, 3, 4, 5, 6, 9, 10, 17, 23, 24]

Write a program that removes odd numbers and returns the remaining ones. 
Print the result to the console.

Expected results:
[4, 6, 10, 24]
```

In [12]:
items = [1, 3, 4, 5, 6, 9, 10, 17, 23, 24]
item = []

for i in items:
    if i % 2 == 0:
        item.append(i)
print(item)

[4, 6, 10, 24]

In [13]:
items = [1, 3, 4, 5, 6, 9, 10, 17, 23, 24]
item = []

for i in items:
    if not i % 2 != 0:
        item.append(i)
print(item)

[4, 6, 10, 24]

#### Exercise 89
```
The following list is given:

items = [1, 5, 3, 2, 2, 4, 2, 4]

Write a program that removes duplicates from the list (the order must be kept) 
and print the list to the console.
Expected result:
[1, 5, 3, 2, 4]
```

In [17]:
items = [1, 5, 3, 2, 2, 4, 2, 4]
item = []

for i in items:
    if i not in item:
        item.append(i)
    else:
        pass
print(item)

[1, 5, 3, 2, 4]

#### Exercise 90
```
The following text is given:

text = 'Python is a very popular programming language'

Write a program which extracts exactly the first four words as a list. 
Standardize each word, i.e. replace uppercase letters with lowercase. 
Present the result in a list and print to the console as shown below.

Expected result:
['python', 'is', 'a', 'very']
```

In [44]:
text = 'Python is a very popular programming language'.lower()

text1 = text.split(" ")
l = []
for i in range(len(text1)):
    if i == 4:
        break
    l.append(text1[i])
print(l)

['python', 'is', 'a', 'very']

In [48]:
text = 'Python is a very popular programming language'.lower()
l = []
text1 = text.split(" ")

for i,j in enumerate(text1):
    if i < 4:
        l.append(j)
print(l)

['python', 'is', 'a', 'very']

#### Exercise 91
```
Write a program that returns a list of values above the given threshold = 0.5 from the following list:

probabilities = [0.21, 0.91, 0.34, 0.55, 0.76, 0.02]

Expected result:
[0.91, 0.55, 0.76]
```

In [49]:
probabilities = [0.21, 0.91, 0.34, 0.55, 0.76, 0.02]
l1 = []

for i in probabilities:
    if i > 0.5:
        l1.append(i)
print(l1)

[0.91, 0.55, 0.76]

#### Exercise 92
```
Consider the problem of binary classification in machine learning. The machine learning model returns the probability of belonging to the class. If it's less than 0.5, the sample is assigned to class 0, otherwise to class 1.

A list of probabilities from the machine learning model is given:

probabilities = [0.21, 0.91, 0.34, 0.55, 0.76, 0.02]

Write a program that assigns class 0 for values less than 0.5 and 1 for values greater than or equal to 0.5. 
Print the result to the console as shown below.

Expected result:
[0, 1, 0, 1, 1, 0]
```

In [51]:
probabilities = [0.21, 0.91, 0.34, 0.55, 0.76, 0.02]
l1 = []

for i in probabilities:
    if i >= 0.5:
        l1.append(1)
    else:
        l1.append(0)
print(l1)

[0, 1, 0, 1, 1, 0]

#### Exercise 93
```
Write a program that creates a histogram as a dictionary of the following values:

items = ['x', 'y', 'z', 'y', 'x', 'y', 'y', 'z', 'x']

In response print histogram to the console.

Expected result:
{'x': 3, 'y': 4, 'z': 2}
```

In [60]:
items = ['x', 'y', 'z', 'y', 'x', 'y', 'y', 'z', 'x']
d = {}

for i in items:
    if i not in d.keys():
        d[i] = 1
    else:
        d[i] = d[i] + 1
print(d)

{'x': 3, 'y': 4, 'z': 2}

#### Exercise 94
```
The following text is given:

text = """Python is powerful... and fast
plays well with others
runs everywhere
is friendly & easy to learn
is Open
These are some of the reasons people who use Python would rather not use anything else"""

Create a list of words from the given text. Then standardize this text (change uppercase letters to lowercase, remove punctuation marks). Extract words longer than six characters and print the result to the console.

Expected result:
['powerful', 'everywhere', 'friendly', 'reasons', 'anything']
```

In [81]:
text = """Python is powerful... and fast
plays well with others
runs everywhere
is friendly & easy to learn
is Open
These are some of the reasons people who use Python would rather not use anything else""".lower()

x = text.split()
words = [i.replace(".","").replace(",","") for i in x]
words = [i for i in words if len(i) > 6]
print(words)

['powerful', 'everywhere', 'friendly', 'reasons', 'anything']

#### Exercise 95
```
The list of stock indexes is given:

indexes = [
    "BOVESPA",
    "DOW JONES COMP",
    "DOW JONES INDU",
    "DOW JONES TRANS",
    "DOW JONES UTIL",
    "IPC",
    "IPSA",
    "MERVAL",
    "NASDAQ COMP",
    "NASDAQ100",
    "S&P500",
    "S&P/TSX COMP",
]

Iterate through the indexes list and print to the console only those indexes containing 'DOW' or 'S&P'.

Expected result:

DOW JONES COMP
DOW JONES INDU
DOW JONES TRANS
DOW JONES UTIL
S&P500
S&P/TSX COMP
```

In [108]:
indexes = [
    "BOVESPA",
    "DOW JONES COMP",
    "DOW JONES INDU",
    "DOW JONES TRANS",
    "DOW JONES UTIL",
    "IPC",
    "IPSA",
    "MERVAL",
    "NASDAQ COMP",
    "NASDAQ100",
    "S&P500",
    "S&P/TSX COMP",
]

for i in indexes:
    if "DOW" in i or "S&P" in i:
        print(i)

DOW JONES COMP
DOW JONES INDU
DOW JONES TRANS
DOW JONES UTIL
S&P500
S&P/TSX COMP

#### Exercise 96
```
A dictionary of companies from the WIG.GAMES index is given. The key is the 3-letter company ticker and value - close price:

gaming = {
    '11B': 362.5,
    'CDR': 297.0,
    'CIG': 0.85,
    'PLW': 318.0,
    'TEN': 300.0
}

Iterate through this dictionary and print the tickers of those companies where closing price is greater than 100.00 PLN.

Expected result:
11B
CDR
PLW
TEN
```

In [111]:
gaming = {
    '11B': 362.5,
    'CDR': 297.0,
    'CIG': 0.85,
    'PLW': 318.0,
    'TEN': 300.0
}

for i in gaming.keys():
    if gaming[i] > 100.00:
        print(i)

11B
CDR
PLW
TEN

In [113]:
gaming = {
    '11B': 362.5,
    'CDR': 297.0,
    'CIG': 0.85,
    'PLW': 318.0,
    'TEN': 300.0
}

for i,j in gaming.items():
    if j > 100.00:
        print(i)

11B
CDR
PLW
TEN

#### Exercise 97
```
A list of names entered by users into the system is given below (without validation process):

names = ['Jack', 'Leon', 'Alice', '32-3c', 'Bob']

Iterate through the names list and check if each name is correct (contains only letters). If so, print to the console following message: f'Hello {name}!' otherwise do nothing.

Tip: Use the str.isalpha() method.

Expected result:
Hello Jack!
Hello Leon!
Hello Alice!
Hello Bob!
```

In [115]:
names = ['Jack', 'Leon', 'Alice', '32-3c', 'Bob']

for i in names:
    if i.isalpha():
        print(f"Hello {i}!")

Hello Jack!
Hello Leon!
Hello Alice!
Hello Bob!

#### Exercise 98
```
Write a program that compares two lists and returns True if the lists contain at least one of the same element. Otherwise, it will return False.

Use break statement in the solution and print result to the console.

Lists:

list1 = [1, 2, 0]
list2 = [4, 5, 6, 1]

Expected result:
True
```

In [3]:
list1 = [1, 2, 0]
list2 = [4, 5, 6, 1]

for i in list1:
    if i in list2:
        print("True")
        break
    else:
        print("False")

True

In [11]:
list1 = [1, 2, 0]
list2 = [4, 5, 6, 1]
result = False

for i in list1:
    if i in list2:
        result = True
        break
print(result)

True

#### Exercise 99
```
The following list of hashtags is given:

hashtags = ['holiday', 'sport', 'fit', None, 'fashion']

Check if all objects in the list are of str type. If so, print True, otherwise print False. Use the break statement in your solution.

Expected result:
False
```

In [13]:
hashtags = ['holiday', 'sport', 'fit', None, 'fashion']
result = True
for i in hashtags:
    if type(i) != str:
        result = False
        break
print(result)

False

In [14]:
hashtags = ['holiday', 'sport', 'fit', None, 'fashion']
result = True

for i in hashtags:
    if not isinstance(i,str):
        result = False
        break
print(result)

False

#### Exercise 100
```
Write a program that checks if the given number is a prime number (use the break statement):
number = 13
Print one of the following to the console depends on the result:

13 - prime number
13 - not a prime number

Expected result:
13 - prime number
```

In [24]:
number = 13

result = True
for i in range(2,number):
    if number % i == 0:
        result = False
        break
if result == True:
    print(f"{number} - prime number")
else:
    print(f"{number} - not a prime number")

13 - prime number

#### Exercise 101
```
The list of companies from the WIG.GAMES index is given with the closing price and currency:

gaming = {
    '11B': [362.5, 'PLN'],
    'CDR': [74.25, 'USD'],
    'CIG': [0.85, 'PLN'],
    'PLW': [79.5, 'USD'],
    'TEN': [300.0, 'PLN']
}

Using the continue statement, create a for loop that will change the closing price from USD to PLN in this dictionary. Take USDPLN = 4.0.

In response, print the gaming dictionary to the console.

Expected result:
{'11B': [362.5, 'PLN'], 'CDR': [297.0, 'PLN'], 'CIG': [0.85, 'PLN'], 'PLW': [318.0, 'PLN'], 'TEN': [300.0, 'PLN']}
```

In [29]:
gaming = {
    '11B': [362.5, 'PLN'],
    'CDR': [74.25, 'USD'],
    'CIG': [0.85, 'PLN'],
    'PLW': [79.5, 'USD'],
    'TEN': [300.0, 'PLN']
}

for i,j in gaming.items():
    if j[1] == "PLN":
        continue
    j[0] = j[0] * 4.0
    j[1] = "PLN"
print(gaming)

{'11B': [362.5, 'PLN'], 'CDR': [297.0, 'PLN'], 'CIG': [0.85, 'PLN'], 'PLW': [318.0, 'PLN'], 'TEN': [300.0, 'PLN']}

#### Exercise 102
```
The list of names is given (one is missing):

names = ['Jack', 'Leon', 'Alice', None, 'Bob']

Using the continue statement, print only the correct names to the console as shown below.

Expected result:
Jack
Leon
Alice
Bob
```

In [34]:
names = ['Jack', 'Leon', 'Alice', None, 'Bob']

for i in names:
    if type(i) != str:
        continue
    else:
        print(i)

Jack
Leon
Alice
Bob

In [35]:
names = ['Jack', 'Leon', 'Alice', None, 'Bob']

for i in names:
    if not isinstance(i,str):
        continue
    else:
        print(i)

Jack
Leon
Alice
Bob

In [36]:
names = ['Jack', 'Leon', 'Alice', None, 'Bob']

for i in names:
    if not isinstance(i,str):
        continue
    print(i)

Jack
Leon
Alice
Bob

In [38]:
names = ['Jack', 'Leon', 'Alice', None, 'Bob']

for i in names:
    if i is None:
        continue
    print(i)

Jack
Leon
Alice
Bob